## EDA: Iowa Liquor Sales

In [48]:
# load packages

import pandas as pd
import numpy as np

pd.set_option("display.max_rows", 999)

In [3]:
# load data
iowa = pd.read_csv('iowa_clean.csv')

In [4]:
iowa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22812222 entries, 0 to 22812221
Data columns (total 17 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0            int64
 1   Date                  object
 2   City                  object
 3   Zip Code              int64
 4   County                object
 5   Item Number           int64
 6   Item Description      object
 7   Bottle Volume (ml)    int64
 8   State Bottle Cost     float64
 9   State Bottle Retail   float64
 10  Bottles Sold          int64
 11  Sale (Dollars)        float64
 12  Volume Sold (Liters)  float64
 13  Store Name            object
 14  Category Name         object
 15  Category              float64
 16  Vendor Name           object
dtypes: float64(5), int64(5), object(7)
memory usage: 2.9+ GB

In [5]:
iowa['Date'] = pd.to_datetime(iowa['Date'], format='%Y/%m/%d')

### Objectives:
1. Create columns for profit/ price variations
2. What does it mean to be expensive?
3. Where are expensive and inexpensive bottles sold? 
4. How is liquor type distributed across Iowa?
5. Create individual year csv files for working within tableau row restrictions

### 1. Create columns for profit variations

In [13]:
# create profit columns

# profit / bottle
iowa['Profit / Item'] = iowa['State Bottle Retail'] - iowa['State Bottle Cost']

# profit / invoice
iowa['Profit / Invoice'] = iowa['Bottles Sold'] * iowa['Profit / Item']

# profit / ml
iowa['Profit / ml'] = iowa['Profit / Item'] / iowa['Bottle Volume (ml)']

# profit / invoice / liter
iowa['Profit / Invoice / Liter'] = iowa['Profit / Invoice'] / iowa['Volume Sold (Liters)']

# retail price per ml
iowa['Retail Price / ml'] = iowa['State Bottle Retail'] / iowa['Bottle Volume (ml)']

In [14]:
iowa.head().T

,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
Date,2018-09-24 00:00:00,2018-09-24 00:00:00,2018-09-24 00:00:00,2018-09-24 00:00:00,2018-09-24 00:00:00
City,ADAIR,ADAIR,ADAIR,ADAIR,ADAIR
Zip Code,50002,50002,50002,50002,50002
County,ADAIR,ADAIR,ADAIR,ADAIR,ADAIR
Item Number,86691,25606,37994,36304,26826
Item Description,Jack Daniels Tennessee Fire Mini,Seagrams 7 Crown Bl Whiskey,Smirnoff 80prf,Hawkeye Vodka,Jack Daniels Old #7 Black Lbl
Bottle Volume (ml),500,750,375,375,750
State Bottle Cost,9.06,7.0,4.75,1.86,15.57
State Bottle Retail,13.59,10.5,7.13,2.79,23.36
Bottles Sold,3,12,6,24,12
Sale (Dollars),40.77,126.0,42.78,66.96,280.32
Volume Sold (Liters),1.5,9.0,2.25,9.0,9.0
Store Name,Casey's general store #2521 / adair,Kum & go #76 / adair,Casey's general store #2521 / adair,Kum & go #76 / adair,Kum & go #76 / adair
Category Name,WHISKY,WHISKY,VODKA,VODKA,WHISKY
Category,1012400.0,1012400.0,1032230.0,1032230.0,1012400.0
Vendor Name,BROWN-FORMAN CORPORATION,DIAGEO AMERICAS,DIAGEO AMERICAS,LUXCO-ST LOUIS,BROWN-FORMAN CORPORATION
Profit / Item,4.53,3.5,2.38,0.93,7.79
Profit / Invoice,13.59,42.0,14.28,22.32,93.48
Profit / ml,0.00906,0.004667,0.006347,0.00248,0.010387
Profit / Invoice / Liter,9.06,4.666667,6.346667,2.48,10.386667
Retail Price / ml,0.02718,0.014,0.019013,0.00744,0.031147

### 3. Where are expensive bottles sold?

We need to come up with a definition or criteria for what it means to be expensive. 

I believe to be expensive it should be both: higher overall retail price, and higher in retail price per ml.

Now what means something is higher in a category?

Let's use standard deviations.

### Label creation
expensive 1 std
very expensive 2 std

In [15]:
print('Price per ml\n','Inexpensive Threshold: ', np.mean(iowa['Retail Price / ml']),'\n',
      'Normal Range: ', np.mean(iowa['Retail Price / ml']),'-', np.mean(iowa['Retail Price / ml']) + np.std(iowa['Retail Price / ml']),'\n',
      'Expensive Threshold: ', np.mean(iowa['Retail Price / ml']) + np.std(iowa['Retail Price / ml']),'\n',
      'Very Expensive Threshold: ', np.mean(iowa['Retail Price / ml']) + (2*np.std(iowa['Retail Price / ml']))
     )

Price per ml
 Inexpensive Threshold:  0.02686969062943565
 Normal Range:  0.02686969062943565 - 0.09871797460224166
 Expensive Threshold:  0.09871797460224166
 Very Expensive Threshold:  0.17056625857504767

In [16]:
print('Bottle Prices\n','Inexpensive Threshold: ', np.mean(iowa['State Bottle Retail']),'\n',
      'Normal Range: ', np.mean(iowa['State Bottle Retail']),'-', np.mean(iowa['State Bottle Retail']) + np.std(iowa['State Bottle Retail']),'\n',
      'Expensive Threshold: ', np.mean(iowa['State Bottle Retail']) + np.std(iowa['State Bottle Retail']),'\n',
      'Very Expensive Threshold: ', np.mean(iowa['State Bottle Retail']) + (2*np.std(iowa['State Bottle Retail']))
     )

Bottle Prices
 Inexpensive Threshold:  15.212815194955656
 Normal Range:  15.212815194955656 - 31.385144827853033
 Expensive Threshold:  31.385144827853033
 Very Expensive Threshold:  47.55747446075041

In [17]:
# variables for label creation
inexp_ml = 0.02686969062943565
exp_ml = 0.09871797460224166
very_exp_ml = 0.17056625857504767

inexp_bottle = 15.212815194955656 
exp_bottle = 31.385144827853033 
very_exp_bottle = 47.55747446075041

In [18]:
def price(entry):
    
    #very expensive criteria
    if (entry['Retail Price / ml'] >= very_exp_ml) & (entry['State Bottle Retail'] >= very_exp_bottle):
        return 'Very expensive'
    
    # expensive criteria
    elif (entry['Retail Price / ml'] >= exp_ml) & (entry['State Bottle Retail'] >= exp_bottle):
        return 'Expensive'

    # inexpensive criteria
    elif (entry['Retail Price / ml'] <= inexp_ml) & (entry['State Bottle Retail'] <= inexp_bottle):
        return 'Inexpensive'
    
    # normal is everything else
    else:
        return 'Normal'

In [19]:
# create a new column for pricing category
iowa['Bottle Price Category'] = iowa.apply(lambda x: price(x), axis=1)

In [20]:
# How do people buy alcohol?
iowa['Bottle Price Category'].value_counts()

Inexpensive       13084290
Normal             9590484
Expensive           102458
Very expensive       34990
Name: Bottle Price Category, dtype: int64

### Observation:
1. I set the criteria for inexpensive to be below average. So about half should be included.
2. None of these categories are over 15M rows (tableau cut off)

In [42]:
# groupby exploration function

def grouping(df, col_one, col_two, col_three):
    
    # Group 1
    group = df.groupby([col_one, col_two]).agg({col_three : 'sum'})
    
    # turning group into percentages
    g_group = group.groupby(level=0).apply(lambda x: 100 * x / float(x.sum()))
    
    return g_group

In [43]:
county_BPC = grouping(iowa, 'County', 'Bottle Price Category', 'Bottles Sold')

In [52]:
county_BPC

                                     Bottles Sold
County        Bottle Price Category
ADAIR         Expensive                  0.185630
              Inexpensive               68.420424
              Normal                    31.371993
              Very expensive             0.021953
ADAMS         Expensive                  0.101086
              Inexpensive               63.033714
              Normal                    36.854862
              Very expensive             0.010338
ALLAMAKEE     Expensive                  0.035917
              Inexpensive               61.289060
              Normal                    38.663462
              Very expensive             0.011561
APPANOOSE     Expensive                  0.040401
              Inexpensive               65.274727
              Normal                    34.672508
              Very expensive             0.012365
AUDUBON       Expensive                  0.048550
              Inexpensive               71.243772
              Normal                    28.684042
              Very expensive             0.023636
BENTON        Expensive                  0.136364
              Inexpensive               67.775507
              Normal                    32.065666
              Very expensive             0.022463
BLACK HAWK    Expensive                  0.076399
              Inexpensive               64.911865
              Normal                    34.986084
              Very expensive             0.025652
BOONE         Expensive                  0.107785
              Inexpensive               64.124997
              Normal                    35.747367
              Very expensive             0.019851
BREMER        Expensive                  0.057352
              Inexpensive               63.587444
              Normal                    36.343199
              Very expensive             0.012005
BUCHANAN      Expensive                  0.097508
              Inexpensive               64.346229
              Normal                    35.540390
              Very expensive             0.015873
BUENA VISTA   Expensive                  0.097073
              Inexpensive               60.619883
              Normal                    39.240154
              Very expensive             0.042890
BUTLER        Expensive                  0.215367
              Inexpensive               73.778078
              Normal                    25.981504
              Very expensive             0.025051
CALHOUN       Expensive                  0.158913
              Inexpensive               70.197174
              Normal                    29.620295
              Very expensive             0.023618
CARROLL       Expensive                  0.074227
              Inexpensive               54.767325
              Normal                    45.138145
              Very expensive             0.020302
CASS          Expensive                  0.207919
              Inexpensive               61.793040
              Normal                    37.959523
              Very expensive             0.039518
CEDAR         Expensive                  0.112200
              Inexpensive               70.319882
              Normal                    29.547416
              Very expensive             0.020502
CERRO GORDO   Expensive                  0.206662
              Inexpensive               64.661959
              Normal                    35.099589
              Very expensive             0.031790
CHEROKEE      Expensive                  0.052114
              Inexpensive               69.548224
              Normal                    30.388366
              Very expensive             0.011296
CHICKASAW     Expensive                  0.062357
              Inexpensive               62.580219
              Normal                    37.342070
              Very expensive             0.015354
CLARKE        Expensive                  0.129273
              Inexpensive               58.293970
              Normal                    41.558084
              Very expensive             0.018673
CLAY          Expensive                  0.058639
              Inexpensive               63.681151
              Normal                    36.243580
              Very expensive             0.016629
CLAYTON       Expensive                  0.049904
              Inexpensive               62.891563
              Normal                    37.039310
              Very expensive             0.019224
CLINTON       Expensive                  0.097747
              Inexpensive               64.381254
              Normal                    35.493320
              Very expensive             0.027680
CRAWFORD      Expensive                  0.083756
              Inexpensive               56.737665
              Normal                    43.158193
              Very expensive             0.020387
DALLAS        Expensive                  0.224891
              Inexpensive               47.966370
              Normal                    51.725436
              Very expensive             0.083303
DAVIS         Expensive                  0.023848
              Inexpensive               73.707602
              Normal                    26.250122
              Very expensive             0.018428
DECATUR       Expensive                  0.216755
              Inexpensive               70.982982
              Normal                    28.770065
              Very expensive             0.030198
DELAWARE      Expensive                  0.029048
              Inexpensive               60.528051
              Normal                    39.426283
              Very expensive             0.016618
DES MOINES    Expensive                  0.096061
              Inexpensive               65.480137
              Normal                    34.408133
              Very expensive             0.015669
DICKINSON     Expensive                  0.076854
              Inexpensive               58.105726
              Normal                    41.800547
              Very expensive             0.016873
DUBUQUE       Expensive                  0.063311
              Inexpensive               59.703861
              Normal                    40.202402
              Very expensive             0.030426
EMMET         Expensive                  0.069963
              Inexpensive               63.719161
              Normal                    36.193332
              Very expensive             0.017543
FAYETTE       Expensive                  0.073712
              Inexpensive               68.434634
              Normal                    31.465378
              Very expensive             0.026276
FLOYD         Expensive                  0.103673
              Inexpensive               62.861206
              Normal                    37.015695
              Very expensive             0.019426
FRANKLIN      Expensive                  0.112791
              Inexpensive               65.007922
              Normal                    34.855850
              Very expensive             0.023437
FREMONT       Expensive                  0.107024
              Inexpensive               72.578851
              Normal                    27.062305
              Very expensive             0.251820
GREENE        Expensive                  0.083975
              Inexpensive               61.397540
              Normal                    38.505800
              Very expensive             0.012685
GRUNDY        Expensive                  0.115426
              Inexpensive               70.186557
              Normal                    29.675593
              Very expensive             0.022424
GUTHRIE       Expensive                  0.082410
              Inexpensive               68.715058
              Normal                    31.183083
              Very expensive             0.019449
HAMILTON      Expensive                  0.103619
              Inexpensive               67.590357
              Normal                    32.291374
              Very expensive             0.014650
HANCOCK       Expensive                  0.138431
              Inexpensive               71.902274
              Normal                    27.939433
              Very expensive             0.019863
HARDIN        Expensive                  0.063782
              Inexpensive               62.501749
              Normal                    37.420843
              Very expensive             0.013626
HARRISON      Expensive                  0.096653
              Inexpensive               68.350819
              Normal                    31.495739
              Very expensive             0.056789
HENRY         Expensive                  0.078488
              Inexpensive               63.961124
              Normal                    35.927213
              Very expensive             0.033174
HOWARD        Expensive                  0.124864
              Inexpensive               58.249565
              Normal                    41.604460
              Very expensive             0.021111
HUMBOLDT      Expensive                  0.111422
              Inexpensive               63.532211
              Normal                    36.330884
              Very expensive             0.025483
IDA           Expensive                  0.075184
              Inexpensive               56.211643
              Normal                    43.676955
              Very expensive             0.036218
IOWA          Expensive                  0.065197
              Inexpensive               66.344660
              Normal                    33.566180
              Very expensive             0.023963
JACKSON       Expensive                  0.046176
              Inexpensive               62.243690
              Normal                    37.699742
              Very expensive             0.010392
JASPER        Expensive                  0.098044
              Inexpensive               67.946695
              Normal                    31.924772
              Very expensive             0.030489
JEFFERSON     Expensive                  0.126511
              Inexpensive               64.189699
              Normal                    35.649629
              Very expensive             0.034161
JOHNSON       Expensive                  0.142386
              Inexpensive               57.709320
              Normal                    42.108300
              Very expensive             0.039994
JONES         Expensive                  0.076240
              Inexpensive               64.058662
              Normal                    35.839582
              Very expensive             0.025517
KEOKUK        Expensive                  0.093891
              Inexpensive               73.705536
              Normal                    26.171587
              Very expensive             0.028986
KOSSUTH       Expensive                  0.068431
              Inexpensive               61.671794
              Normal                    38.237686
              Very expensive             0.022089
LEE           Expensive                  0.070650
              Inexpensive               61.340134
              Normal                    38.566611
              Very expensive             0.022605
LINN          Expensive                  0.097922
              Inexpensive               63.655284
              Normal                    36.221662
              Very expensive             0.025133
LOUISA        Expensive                  0.023626
              Inexpensive               78.902354
              Normal                    21.054392
              Very expensive             0.019628
LUCAS         Expensive                  0.111688
              Inexpensive               66.129997
              Normal                    33.728129
              Very expensive             0.030186
LYON          Expensive                  0.095343
              Inexpensive               63.996280
              Normal                    35.880708
              Very expensive             0.027670
MADISON       Expensive                  0.192513
              Inexpensive               65.311477
              Normal                    34.465723
              Very expensive             0.030286
MAHASKA       Expensive                  0.096876
              Inexpensive               65.764093
              Normal                    34.114628
              Very expensive             0.024402
MARION        Expensive                  0.132024
              Inexpensive               62.510295
              Normal                    37.331345
              Very expensive             0.026335
MARSHALL      Expensive                  0.186403
              Inexpensive               63.149430
              Normal                    36.626467
              Very expensive             0.037700
MILLS         Expensive                  0.179658
              Inexpensive               70.582083
              Normal                    29.180835
              Very expensive             0.057425
MITCHELL      Expensive                  0.066232
              Inexpensive               63.619066
              Normal                    36.304880
              Very expensive             0.009823
MONONA        Expensive                  0.069427
              Inexpensive               67.102912
              Normal                    32.800192
              Very expensive             0.027468
MONROE        Expensive                  0.032708
              Inexpensive               62.625442
              Normal                    37.325675
              Very expensive             0.016174
MONTGOMERY    Expensive                  0.098763
              Inexpensive               66.395027
              Normal                    33.482218
              Very expensive             0.023992
MUSCATINE     Expensive                  0.126807
              Inexpensive               66.071864
              Normal                    33.758330
              Very expensive             0.042999
O'BRIEN       Expensive                  0.091436
              Inexpensive               61.564568
              Normal                    38.327525
              Very expensive             0.016470
OSCEOLA       Expensive                  0.177303
              Inexpensive               62.378720
              Normal                    37.417382
              Very expensive             0.026595
PAGE          Expensive                  0.057575
              Inexpensive               62.841236
              Normal                    37.070447
              Very expensive             0.030741
PALO ALTO     Expensive                  0.087415
              Inexpensive               60.932217
              Normal                    38.974399
              Very expensive             0.005969
PLYMOUTH      Expensive                  0.145175
              Inexpensive               58.712292
              Normal                    41.116951
              Very expensive             0.025581
POCAHONTAS    Expensive                  0.056923
              Inexpensive               70.990520
              Normal                    28.938666
              Very expensive             0.013892
POLK          Expensive                  0.145763
              Inexpensive               61.437490
              Normal                    38.371517
              Very expensive             0.045229
POTTAWATTAMIE Expensive                  0.163221
              Inexpensive               63.445934
              Normal                    36.352197
              Very expensive             0.038648
POWESHIEK     Expensive                  0.093686
              Inexpensive               61.362740
              Normal                    38.514555
              Very expensive             0.029019
RINGGOLD      Expensive                  0.109957
              Inexpensive               64.884370
              Normal                    34.989092
              Very expensive             0.016581
SAC           Expensive                  0.047905
              Inexpensive               63.088235
              Normal                    36.850236
              Very expensive             0.013624
SCOTT         Expensive                  0.107849
              Inexpensive               62.204344
              Normal                    37.656519
              Very expensive             0.031288
SHELBY        Expensive                  0.058782
              Inexpensive               57.775029
              Normal                    42.147025
              Very expensive             0.019164
SIOUX         Expensive                  0.050616
              Inexpensive               57.230572
              Normal                    42.708605
              Very expensive             0.010207
STORY         Expensive                  0.131667
              Inexpensive               62.470574
              Normal                    37.365797
              Very expensive             0.031962
TAMA          Expensive                  0.092855
              Inexpensive               69.931244
              Normal                    29.951944
              Very expensive             0.023957
TAYLOR        Expensive                  0.038369
              Inexpensive               69.329390
              Normal                    30.591065
              Very expensive             0.041176
UNION         Expensive                  0.120358
              Inexpensive               60.075223
              Normal                    39.777517
              Very expensive             0.026902
VAN BUREN     Expensive                  0.108839
              Inexpensive               60.823345
              Normal                    39.038381
              Very expensive             0.029435
WAPELLO       Expensive                  0.055023
              Inexpensive               65.243127
              Normal                    34.683251
              Very expensive             0.018600
WARREN        Expensive                  0.118719
              Inexpensive               66.702820
              Normal                    33.148005
              Very expensive             0.030455
WASHINGTON    Expensive                  0.086486
              Inexpensive               61.260556
              Normal                    38.616803
              Very expensive             0.036156
WAYNE         Expensive                  0.178499
              Inexpensive               66.427094
              Normal                    33.342463
              Very expensive             0.051944
WEBSTER       Expensive                  0.077520
              Inexpensive               64.548697
              Normal                    35.350072
              Very expensive             0.023711
WINNEBAGO     Expensive                  0.052756
              Inexpensive               67.208838
              Normal                    32.723584
              Very expensive             0.014823
WINNESHIEK    Expensive                  0.081426
              Inexpensive               60.803951
              Normal                    39.097039
              Very expensive             0.017584
WOODBURY      Expensive                  0.150116
              Inexpensive               62.832306
              Normal                    36.990113
              Very expensive             0.027466
WORTH         Expensive                  0.087682
              Inexpensive               71.476688
              Normal                    28.404856
              Very expensive             0.030773
WRIGHT        Expensive                  0.106501
              Inexpensive               70.145597
              Normal                    29.736949
              Very expensive             0.010953

### Observation:
1. Dallas is has the highest percentage of expensive bottles sold at 0.224%
2. Fremont has a massive outlier of 0.25% for Very expensive bottles sold

In [53]:
cate_type = pd.DataFrame(grouping(iowa, 'Category Name', 'Bottle Price Category', 'Bottles Sold'))
cate_type

                                                     Bottles Sold
Category Name                 Bottle Price Category
BOURBON WHISKY                Expensive                  0.083582
                              Inexpensive               35.273429
                              Normal                    64.634862
                              Very expensive             0.008128
BRANDY                        Expensive                  0.052541
                              Inexpensive               56.944153
                              Normal                    42.913085
                              Very expensive             0.090220
CANADIAN WHISKY               Expensive                  0.033829
                              Inexpensive               52.929789
                              Normal                    47.035609
                              Very expensive             0.000772
COCKTAILS RTD                 Inexpensive               90.803106
                              Normal                     9.195949
                              Very expensive             0.000945
FLAVORED GIN                  Inexpensive               98.503616
                              Normal                     1.496384
FLAVORED RUM                  Inexpensive               71.207232
                              Normal                    28.792768
FLAVORED VODKA                Inexpensive               91.969771
                              Normal                     8.030229
FLAVORED WHISKY               Expensive                  0.803652
                              Inexpensive               74.000860
                              Normal                    25.099466
                              Very expensive             0.096023
GIN                           Expensive                  0.002180
                              Inexpensive               64.310760
                              Normal                    35.685903
                              Very expensive             0.001157
HIGH BEER                     Expensive                 88.888889
                              Very expensive            11.111111
IOWA LOCAL                    Expensive                  0.031003
                              Inexpensive                3.208805
                              Normal                    96.058751
                              Very expensive             0.701442
LIQUEUR                       Expensive                  0.078720
                              Inexpensive               31.766983
                              Normal                    68.146727
                              Very expensive             0.007570
MEZCAL                        Expensive                  1.029306
                              Normal                    98.945858
                              Very expensive             0.024836
NEUTRAL GRAIN                 Inexpensive               96.262373
                              Normal                     3.729052
                              Very expensive             0.008575
NEUTRAL GRAIN SPIRIT FLAVORED Inexpensive               33.617043
                              Normal                    66.382957
RUM                           Expensive                  0.001133
                              Inexpensive               62.815337
                              Normal                    37.183346
                              Very expensive             0.000183
RYE WHISKY                    Expensive                  0.123839
                              Inexpensive               63.942486
                              Normal                    35.931144
                              Very expensive             0.002531
SCHNAPPS                      Expensive                  0.000151
                              Inexpensive               78.982622
                              Normal                    20.969230
                              Very expensive             0.047997
SCOTCH                        Expensive                  0.728912
                              Inexpensive               17.292154
                              Normal                    81.325548
                              Very expensive             0.653386
SPECIAL PACKAGING             Expensive                  0.394115
                              Inexpensive               53.353515
                              Normal                    45.898229
                              Very expensive             0.354140
SPECIALTY                     Expensive                  0.759547
                              Inexpensive               75.699122
                              Normal                    23.439750
                              Very expensive             0.101581
TEQUILA                       Expensive                  0.238599
                              Inexpensive               43.857293
                              Normal                    55.892817
                              Very expensive             0.011292
VODKA                         Expensive                  0.002838
                              Inexpensive               76.026445
                              Normal                    23.970140
                              Very expensive             0.000577
WHISKY                        Expensive                  0.205556
                              Inexpensive               39.810191
                              Normal                    59.950249
                              Very expensive             0.034003

### Observation
1. Some categories do not have expensive or very expensive
2. mezcal doesn't have inexpensive
3. mezcal 1.03% Expensive
4. high proof beer is only expensive and very expensive
5. Iowa Local has the highest Very Expensive 0.7%

In [75]:
# group by zip 
# avg bottle prices
# largest
pd.DataFrame(iowa.groupby(['City','Zip Code'])['State Bottle Retail'].mean()).nlargest(20, 'State Bottle Retail')

                           State Bottle Retail
City             Zip Code
ALLERTON         50008               44.438180
EARLING          51530               24.935440
LUXEMBURG        52056               22.221368
SHUEYVILLE       52338               22.067589
CEDAR RAPIDS     52401               21.073991
ST LUCAS         52166               20.676860
MORAVIA          52571               20.184365
WHITTEMORE       50598               19.873916
VAN HORNE        52346               19.843253
PLEASANT HILL    50438               19.678333
SAINT ANSGAR     50472               19.311496
WESLEY           50483               18.909209
DES MOINES       50314               18.886092
HUDSON           50643               18.748821
SWISHER          52338               18.693551
WINDSOR HEIGHTS  50322               18.469950
ST ANSGAR        50472               18.426603
PACIFIC JUNCTION 51561               18.355527
DES MOINES       50312               18.176766
HARPERS FERRY    52146               18.077061

In [73]:
# group by zip
# avg bottle prices
# smallest
pd.DataFrame(iowa.groupby(['Zip Code', 'City'])['State Bottle Retail'].mean()).nsmallest(20, 'State Bottle Retail')

                       State Bottle Retail
Zip Code City
50044    BUSSEY                   7.314627
50336    BOONE                   10.098250
52303    CEDAR RAPIDS            10.354822
52004    DUBUQUE                 10.744518
52223    DELHI                   10.780000
52248    KEOTA                   10.796196
52049    GARNAVILLO              10.808351
51005    AURELIA                 10.828124
50206    NEWTON                  10.847404
50529    DAKOTA CITY             10.910359
52802    DAVENPORT               10.929787
50707    WATERLOO                10.969491
52202    ALBURNETT               11.046886
52623    DANVILLE                11.125922
50606    ARLINGTON               11.199754
50313    DES MOINES              11.215680
50510    ALBERT CITY             11.216208
52233    HIAWATHA                11.251983
50541    GILMORE CITY            11.309888
51462    SCRANTON                11.346283

### Observation:
1. Bottle Price per zip  varies from $44 to $7 
2. Overall average bottle price is $14

Thoughts something might be wrong with the 50008 invoices.

<b> Dallas who has the highest % of all bottles labeled expensive is 2nd

### 3. How is liquor Type distributed across the state?

In [103]:
# type explore
pd.DataFrame(iowa.groupby(['Category Name']).agg({'Bottles Sold':'sum', 'State Bottle Retail':'mean', 'Store Name':'nunique', 'County':'nunique', 'City':'nunique','Zip Code': 'nunique', })).sort_values(by='Bottles Sold',ascending=False)

,Bottles Sold,State Bottle Retail,Store Name,County,City,Zip Code
Category Name,,,,,,
VODKA,60813562,12.304692,2532,99,451,495
CANADIAN WHISKY,26677962,14.748443,2517,99,450,495
RUM,23996598,13.192256,2522,99,452,496
WHISKY,18742294,19.177461,2539,99,451,494
FLAVORED WHISKY,17281360,17.579011,2499,99,449,494
SCHNAPPS,13900906,10.980206,2480,99,447,492
BRANDY,12911726,13.725677,2477,99,446,491
BOURBON WHISKY,10925819,18.713763,2496,99,450,494
LIQUEUR,10898070,18.164068,2502,99,450,495
TEQUILA,10645078,21.709050,2502,99,449,494
FLAVORED VODKA,8624138,10.845377,2467,99,449,493
GIN,6652795,13.804259,2464,99,447,491
COCKTAILS RTD,5289427,11.314429,2289,99,436,480
SPECIAL PACKAGING,4390348,22.927796,2338,99,444,488
FLAVORED RUM,2913756,12.978035,2135,99,438,480
SCOTCH,2588515,28.889565,1950,98,396,438
RYE WHISKY,1659410,16.895639,1805,99,395,435
SPECIALTY,563099,29.515569,788,98,243,278
NEUTRAL GRAIN,489776,13.216913,1325,99,330,370
NEUTRAL GRAIN SPIRIT FLAVORED,214186,16.660467,1237,99,344,381
FLAVORED GIN,60145,9.737426,461,82,140,176
MEZCAL,36238,30.529633,456,83,142,178
IOWA LOCAL,25804,34.499642,410,83,153,186
HIGH BEER,54,122.138125,22,13,19,22

### Observation
1. Whisky has the most different stores at: 2539
2. around 2500 means ubiquitous
3. of ubiquitous categories tequila has the highest average retail price
4. Mezcal is only represented in 456 different stores,while has \$30 avg per bottle.
5. Scotch has avg is \$28.89 and is in 1950 stores
6. High alcohol Beer has the fewest retail locations, and the average price is by far the highest. I believe all high alcohol beer is in a keg form.

In [102]:
# which store buys the most per category
iowa.groupby(['Category Name'])['Store Name'].value_counts

In [91]:
mezcal = iowa[iowa['Category Name'] == 'MEZCAL']

In [95]:
mezcal.groupby(['Store Name'])['Bottles Sold'].sum().nlargest()

Store Name
Central city 2                                     2966
Hy-vee #3 / bdi / des moines                       2850
Benz distributing                                  2545
Central city liquor, inc.                          1493
Hy-vee wine and spirits / iowa city                1483
John's grocery                                      976
Hy-vee food store / urbandale                       907
Ingersoll liquor and beverage                       678
Hy-vee food store / coralville                      653
Wilkie liquors                                      651
Hy-vee wine and spirits / bettendorf                618
Cyclone liquors                                     590
Hy-vee #3 food and drugstore                        508
Hy-vee # 6/ des moines                              484
Bootleggin' barzini's fin                           440
Bootlegging barzinis                                435
Hy-vee #2 / coralville                              411
Happy's wine & spirits                              398
Hy-vee food store / fleur / dsm                     389
Off campus beer and spirits / ames                  359
Tequila's liquor store                              359
Hy-vee wine and spirits #2                          340
Hy-vee wine and spirits / wdm                       311
Another round / dewitt                              304
Wines and spirits / washington                      303
Hy-vee #7 / edgewood cedar rapids                   292
I-80 liquor / council bluffs                        288
Lot-a-spirits                                       279
Hy-vee #4 / wdm                                     276
Pronto market/ garwin                               262
Hy-vee / waukee                                     255
Hy-vee drugstore / university / dsm                 251
Hy-vee food store #2 / state ankeny                 237
Hy-vee / windsor heights                            236
Sid's beverage shop                                 235
Hy-vee food store / marion                          219
Hy-vee food store / fairfield                       212
Hy-vee food store / iowa city                       202
Keokuk spirits                                      187
Hy-vee food store #5 / cedar rapids                 186
Hy-vee food store #2 / council bluffs               183
Hy-vee food store / altoona                         181
Hy-vee food store / cedar falls                     178
Forbes liquor locker / remi                         175
Backwater spirits and more                          170
Hy-vee food store #2 / iowa city                    168
Hy-vee #4 / davenport                               165
Hy-vee  #2 / ames                                   164
Marshall beer wine spirits                          154
Hy-vee food and drug #6 / cedar rapids              150
Hy-vee food and drug / clinton                      144
Hy-vee food store #1 / mason city                   140
Whole foods market                                  140
Hy-vee food store #3 / des moines                   138
Hy-vee food store #4 / sioux city                   138
Ingersoll wine merchants                            137
Hy-vee food store / marshalltown                    134
Johncy's liquor store                               128
Hy-vee food store / dubuque                         123
Hy-vee #1044 / burlington                           113
Hy-vee / pleasant hill                              112
Iowa street market, inc.                            109
Northside liquor                                    109
Hy-vee wine and spirits / pella                     106
Hillstreet news and tobacco                         105
Hy-vee food store #1 / wdm                          104
Lake liquors wine and spirits                       101
Hy-vee food and drug / grand / wdm                   95
Hy-vee food store / keokuk                           94
Twin town liquor                                     92
Hy-vee food store #1 / cedar rapids                  89
Hy-vee food store #3 / waterloo                      87
Super quick mart / windsor heights                   86
Liquor downtown / iowa city                          82
University liquors / wdm                             82
Hy-vee food store / carroll                          79
Hometown family market                               78
Hy-vee drugstore / ottumwa                           76
Hy-vee food store #5 / des moines                    76
Hy-vee food store / muscatine                        76
Northside liquor and grocery / mason city            76
Charlie's wine and spirits,                          74
Hy-vee food store #1 / council bluffs                74
Hy-vee wine and spirits / waterloo                   72
Hy-vee #5 / davenport                                71
Wall to wall wine and spirits / west des moines      71
Hy-vee drugstore / iowa city                         70
Hy-vee wine and spirits / ankeny                     69
Tobacco shop / arnolds park                          69
Hy-vee wine and spirits / spirit lake                68
Hy-vee / waverly                                     65
Hy-vee fort dodge wine and spirits                   65
Hy-vee food store #1 / newton                        64
Urbandale liquor                                     62
7 rayos liquor store                                 61
Hy-vee food store #2 / cedar rapids                  60
Price chopper  /  ingersoll                          60
Hy-vee food store #1 / ottumwa                       57
Hy-vee wine and spirits / humboldt                   57
Hy-vee food store / creston                          55
A&z liquors / hampton                                54
Hy-vee / decorah                                     52
Hy-vee food store #3 / sioux city                    51
Hy-vee wine & spirits / muscatine                    50
Hy-vee food store #3 / cedar rapids                  49
Als liquor                                           47
Hy-vee #2 food store / mason city                    47
Hy-vee wine and spirits #1                           47
Giggle juice liquor station, llc                     46
Hy-vee / drugtown #1 / cedar rapids                  46
Hy-vee wine and spirits / atlantic                   46
Aj's liquor ii                                       45
Hy-vee food store / chariton                         45
Hy-vee store / perry                                 45
Smoke shop, the                                      44
Uptown liquor & tobacco / cedar rapids               44
Hy-vee food store / sioux city                       43
Point liquor & tobacco                               43
Hy-vee / grimes                                      42
Hy-vee food store / johnston                         42
Hy-vee wdm health market                             42
Liberty view wine & spirits / north liberty          42
Lickety liquor                                       42
Westside spirits / cedar rapids                      42
Hy-vee food store / knoxville                        41
Mcnally's super valu                                 41
Hy-vee wine and spirits / lemars                     39
Okoboji avenue liquor                                39
Hy-vee food store / spencer                          38
Hy-vee food store / mount pleasant                   37
Mad ave quik shop                                    37
John's qwik stop                                     36
Sam's club 4973 / dubuque                            36
Sam's club 6344 / windsor heights                    36
Sam's club 6432 / sioux city                         36
Sam's club 6472 / council bluffs                     36
Sam's club 6514 / waterloo                           36
Sam's club 6568 / ames                               36
Sam's club 8162 / cedar rapids                       36
Sam's club 8238 / davenport                          36
Dubuque wine & spirits                               34
Hy-vee drugstore / mason city                        34
Keystone liquor                                      34
Beer thirty denison                                  33
Hy-vee drugstore #5 / cedar rapids                   33
Downtown liquor                                      32
Sycamore convenience                                 31
Hy-vee drugstore / davenport                         30
Hy-vee wine and spirits / storm lake                 30
Pronto / spirit lake                                 30
Sahota food mart                                     30
Liquor on the corner                                 29
Quality quick stop                                   29
Quick shop / clear lake                              29
Fareway stores #639 / maquoketa                      28
Lucky mart                                           28
Hy-vee drugstore / council bluffs                    27
Hy-vee wine and spirits / harlan                     27
West d liquors                                       27
Fareway stores #022 / sioux city                     26
Prime mart 7 / waterloo                              26
Riverside liquor                                     26
Select mart / sioux city                             26
Great pastimes                                       25
Hy-vee wine and spirits / washington                 25
1st stop beverage shop                               24
Best food mart 3  llc                                24
Econ-o-mart / columbus junction                      24
Fareway stores #058 / orange city                    24
Hawks smoke shop / marion                            24
Iowa liquor & tobacco                                24
Rodgers spirits and more                             24
Sam's club 6979 / ankeny                             24
World liquor & tobacco                               24
Broadway liquor                                      23
Jim and charlies affiliated                          23
Phillips 66 / grinnell                               23
Home town wine & spirits                             22
Leo1  /  cedar rapids                                22
Prime mart - cedar falls                             22
World liquor & tobacco + vapors / adel               22
Cork and bottle / oskaloosa                          21
Eldridge mart                                        21
Hy-vee food store / centerville                      21
Hy-vee food store / webster city                     21
Sam's food                                           21
Tipton family foods                                  21
Bluejay market                                       20
Gd xpress / davenport                                20
Hy-vee / charles city                                20
Hy-vee food store / iowa falls                       20
Lansing iga                                          20
North side liquor & tobacco / dubuque                20
Oasis                                                20
Quicker liquor store                                 20
Sam's mainstreet market / solon                      20
Super saver liquor -muscatine                        20
Cenex - hampton                                      19
Cork it!                                             19
Prime mart / broadway waterloo                       19
Name: Bottles Sold, dtype: int64

In [97]:
# Des Moines sales by zip
DM_sales_zip = iowa[iowa['City'] == 'DES MOINES']
DM_sales_zip = DM_sales_zip.groupby('Zip Code').agg({'Volume Sold (Liters)': 'sum', 'Sale (Dollars)': 'sum'}).sort_values(by='Volume Sold (Liters)', ascending=False)
DM_sales_zip

          Volume Sold (Liters)  Sale (Dollars)
Zip Code
50314              6383718.140    1.190292e+08
50320              6232585.650    1.078936e+08
50315              2077120.690    3.204651e+07
50317              2046424.418    3.163226e+07
50310              1369804.010    1.968180e+07
50321              1278194.751    2.010926e+07
50311               779200.738    1.224443e+07
50316               753468.658    1.321516e+07
50312               632946.972    1.248284e+07
50313               559632.155    8.107857e+06
50309               431114.153    7.173036e+06
50300               179179.600    2.280535e+06
50322                89912.075    1.612388e+06

### 2. Create CSV files for Tableau

In [98]:
# creating csv files for individual year subsets

# range of years
for year in np.arange(2012,2022):
    
    #subsetting of years from 'Date' column
   name = iowa.loc[(iowa['Date'] > (str(year-1)+'-12-31')) & (iowa['Date'] < (str(year+1)+'-01-01'))]

    # assign df subset to a variable
   vars()['iowa_' + str(year)]=name

    # save that subset as a csv file
   vars()['iowa_' + str(year)].to_csv(('iowa_' + str(year) + '.csv'))

In [99]:
# Bottle Price Category split

inexpensive = iowa[iowa['Bottle Price Category'] == 'Inexpensive']
normal_expensive = iowa[iowa['Bottle Price Category'] != 'Inexpensive']

In [100]:
inexpensive.to_csv('inexpensive.csv',index=False)
normal_expensive.to_csv('expensive.csv',index=False)

In [101]:
iowa.to_csv('iowa_eda.csv',index=False)