In [1]:
# load packages

import pandas as pd
import numpy as np

In [2]:
# CSV file is from "https://data.iowa.gov/Sales-Distribution/Iowa-Liquor-Sales/m3tr-qhgy"

# create variable to store dataset

#### sample of full dataset for github
iowaLiquorSales = pd.read_csv('iowa_sample.csv')

In [3]:
# take a look at the data

iowaLiquorSales.head()

,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,...,Vendor Name,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Type
0,2017-04-05,3390,okoboji avenue liquor,1610 OKOBOJI AVENUE,MILFORD,51351,POINT (-95.149955 43.331525),30,DICKINSON,1032200,...,DIAGEO AMERICAS,64716,Ciroc Peach,750,16.49,24.74,12,332.88,9.0,VODKA
1,2016-10-19,5222,leo1 / cedar rapids,1500 1ST AVE NE,CEDAR RAPIDS,52402,POINT (-91.652082 41.988229),57,LINN,1031200,...,EANDJ GALLO WINERY,40597,New Amsterdam Red Berry,200,2.49,3.74,24,80.64,4.8,VODKA
2,2017-04-05,2606,hy-vee wine and spirits / humboldt,1011 13TH ST NORTH,HUMBOLDT,50548,POINT (-94.227116 42.733221),46,HUMBOLDT,1031100,...,PHILLIPS BEVERAGE,37348,Phillips Vodka,1750,7.60,11.40,6,68.40,10.5,VODKA
3,2017-04-05,3901,target store t-0878 / fort dodge,2910 1 AVE S,FORT DODGE,50501,POINT (-94.157366 42.505335),94,WEBSTER,1011600,...,INFINIUM SPIRITS,27102,Templeton 4YR Rye,750,18.09,27.14,6,162.84,4.5,RYE
4,2016-10-17,3917,smokin' joe's #2 tobacco and liquor outlet,1606 W LOCUST ST,DAVENPORT,52804,POINT (-90.599037 41.538254),82,SCOTT,1012100,...,DIAGEO AMERICAS,10789,Crown Royal Vanilla,200,4.72,7.08,2,14.16,0.4,WHISKY

In [4]:
# and it's size

iowaLiquorSales.shape

(1000, 22)

In [5]:
# checking for missing
iowaLiquorSales.isna().sum()

Date                    0
Store Number            0
Store Name              0
Address                 0
City                    0
Zip Code                0
Store Location          0
County Number           0
County                  0
Category                0
Category Name           0
Vendor Number           0
Vendor Name             0
Item Number             0
Item Description        0
Bottle Volume (ml)      0
State Bottle Cost       0
State Bottle Retail     0
Bottles Sold            0
Sale (Dollars)          0
Volume Sold (Liters)    0
Type                    0
dtype: int64

##### Are the NaN values specific to a certain location? Would dropping them under represent an area
##### zip code is a consistent location tracker
##### iowa has 1055 zip codes

In [6]:
# ZIP CODE
iowaLiquorSales['Zip Code'].nunique()

216

In [7]:
# zip code type
iowaLiquorSales['Zip Code'].dtypes

dtype('int64')

In [8]:
# change zipcode to a number

# this one is an error but let me know I had a non-numerical entry
#iowaLiquorSales['Zip Code'] = iowaLiquorSales['Zip Code'].astype('float64')

In [9]:
# how many have that random entry
iowaLiquorSales[iowaLiquorSales['Zip Code'] == '712-2']

Empty DataFrame
Columns: [Date, Store Number, Store Name, Address, City, Zip Code, Store Location, County Number, County, Category, Category Name, Vendor Number, Vendor Name, Item Number, Item Description, Bottle Volume (ml), State Bottle Cost, State Bottle Retail, Bottles Sold, Sale (Dollars), Volume Sold (Liters), Type]
Index: []

[0 rows x 22 columns]

###### 7940 entries, and at a quick glance it is the same location.

In [10]:
# Let's see if it is only the cityb of Dunlap

# create a dummy dataframe of only the odd zip code entries
df = iowaLiquorSales[iowaLiquorSales['Zip Code'] == '712-2']

# group the dummy dataframe by city, and I chose sum to print the 'df'
df.groupby(by='City').sum()

Empty DataFrame
Columns: [Store Number, Zip Code, County Number, Category, Vendor Number, Item Number, Bottle Volume (ml), State Bottle Cost, State Bottle Retail, Bottles Sold, Sale (Dollars), Volume Sold (Liters)]
Index: []

###### all the odd zip code entries are from the city of dunlap
Dunlap which has a actual zip code of 51529 and turns out their area code is 712
###### change all 712 zip codes to 51529

In [11]:
# replace all of those entries to the correct zip code
iowaLiquorSales['Zip Code'] = iowaLiquorSales['Zip Code'].replace({'712-2': 51529})

In [12]:
# examine different zip codes
iowaLiquorSales['Zip Code'].unique()

array([51351, 52402, 50548, 50501, 52804, 51012, 50316, 50273, 50266,
       50317, 50702, 52761, 51331, 50212, 50112, 52314, 52807, 50311,
       50125, 50060, 52753, 50010, 52627, 52241, 51040, 51105, 51503,
       52001, 52802, 50613, 50265, 51566, 50401, 50248, 52556, 50310,
       50208, 52002, 52405, 50158, 51108, 52327, 50322, 50701, 51501,
       52205, 50574, 50588, 50021, 50023, 50543, 51054, 52240, 51401,
       52317, 50601, 52806, 50616, 52501, 50461, 51104, 51055, 50320,
       50263, 52175, 51346, 50314, 50659, 50131, 52040, 51529, 50022,
       51632, 52411, 52333, 51106, 50703, 52732, 52577, 52246, 52722,
       50595, 50309, 50321, 50315, 50312, 50585, 51250, 50511, 50801,
       50517, 51248, 52544, 50583, 50707, 50313, 51537, 51360, 52404,
       50006, 50009, 51103, 50219, 50682, 50622, 50677, 50047, 52003,
       52353, 50014, 51601, 50111, 50138, 52342, 50142, 52655, 52233,
       50213, 52403, 50436, 51442, 52632, 51546, 50628, 50036, 51534,
       50651, 52733, 50033, 50581, 52401, 50590, 52142, 52803, 51301,
       51249, 50851, 50226, 51521, 52101, 52310, 52033, 51101, 52202,
       50323, 50129, 52349, 51551, 50025, 50428, 52601, 52087, 52748,
       51530, 50441, 50211, 52060, 50579, 52302, 50563, 52537, 50536,
       52208, 50530, 50225, 50841, 50533, 52641, 52356, 52076, 50247,
       50459, 51575, 52591, 50833, 50854, 52332, 51449, 52172, 50627,
       50597, 52301, 51443, 50327, 50469, 52358, 50674, 50525, 51570,
       51035, 51201, 50035, 52151, 52726, 52553, 50421, 51031, 50216,
       50123, 52361, 51455, 50220, 52214, 50201, 50324, 50602, 52776,
       52159, 50644, 52245, 50325, 50424, 52772, 50514, 50163, 50156])

##### some float, some are int, some are str and one nan

In [13]:
# remove that one null entry by saving notna values
iowaLiquorSales = iowaLiquorSales[iowaLiquorSales['Zip Code'].notna()]

In [14]:
# converting all zip codes to numeric
iowaLiquorSales['Zip Code'] = iowaLiquorSales['Zip Code'].astype('int64')

In [15]:
# how are data types for the whole dataframe
iowaLiquorSales.dtypes

Date                     object
Store Number              int64
Store Name               object
Address                  object
City                     object
Zip Code                  int64
Store Location           object
County Number             int64
County                   object
Category                  int64
Category Name            object
Vendor Number           float64
Vendor Name              object
Item Number               int64
Item Description         object
Bottle Volume (ml)        int64
State Bottle Cost       float64
State Bottle Retail     float64
Bottles Sold              int64
Sale (Dollars)          float64
Volume Sold (Liters)    float64
Type                     object
dtype: object

In [16]:
# now that zip code has been cleaned
# we can groupby zipcode to see if the missing gps locations are in the same place

df = iowaLiquorSales[['Store Location', 'Zip Code']]

In [17]:
# get rid of the null values in dummy dataframe
df['Store Location'] = df['Store Location'].fillna(0)

/var/folders/70/gq6zfpsx5rg7k0vsvcbg70_40000gn/T/ipykernel_14437/2221258938.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Store Location'] = df['Store Location'].fillna(0)

In [18]:
# focus on just the missing locations
dff = df[df['Store Location'] == 0]

In [19]:
# how many missing values are there per zip code
dff.value_counts()

Series([], dtype: int64)

In [20]:
# missing store location values are spread out enough to dropna()

In [21]:
# drop null values
iowa_liq_sales = iowaLiquorSales.dropna()

In [22]:
# drop unneeded columns
iowa_liq_sales = iowa_liq_sales.drop(columns=['Invoice/Item Number','Pack','Volume Sold (Gallons)'])

KeyError: "['Invoice/Item Number' 'Pack' 'Volume Sold (Gallons)'] not found in axis"

In [ ]:
# current state
iowa_liq_sales.head()

In [ ]:
# check column data types
iowa_liq_sales.dtypes

In [ ]:
# CLEAN UP DATA ENTRIES

#DATE COLUMN

iowa_liq_sales['Date'].describe(datetime_is_numeric=True)

In [ ]:
# 'Date' column is also an object type. let's change that to date time with pandas.to_datetime()
iowa_liq_sales['Date'] = pd.to_datetime(iowa_liq_sales['Date'])

In [ ]:
# STORE NUMBER COLUMN

#Store Number column
iowa_liq_sales['Store Number'].head()

In [ ]:
# how many different store numbers are there?
iowa_liq_sales['Store Number'].nunique()

In [ ]:
# STORE NAME COLUMN

iowa_liq_sales['Store Name'].describe()

In [ ]:
# there's 2830 unique store names
# examine a sample
iowa_liq_sales['Store Name'].head(25)

In [ ]:
# There are more Store names than numbers, let's see if we can clean this up

In [ ]:
# clean up some
iowa_liq_sales['Store Name'] = iowa_liq_sales['Store Name'].str.lower()

In [ ]:
iowa_liq_sales['Store Name'] = iowa_liq_sales['Store Name'].str.replace('&','and')

In [ ]:
iowa_liq_sales['Store Name'] = iowa_liq_sales['Store Name'].str.replace('# ','#')

In [ ]:
iowa_liq_sales['Store Name'] = iowa_liq_sales['Store Name'].str.replace('  ',' ')

In [ ]:
iowa_liq_sales['Store Name'].nunique()

In [ ]:
# from 2830 to 2622  want 2526

In [ ]:
# ADDRESS

iowa_liq_sales['Address'].describe()

In [ ]:
# take a look at address's
iowa_liq_sales['Address'].head(25)

In [ ]:
# clean up addresses to limit duplicates
iowa_liq_sales['Address'] = iowa_liq_sales['Address'].str.upper()

In [ ]:
iowa_liq_sales['Address'] = iowa_liq_sales['Address'].str.replace(',','')

In [ ]:
iowa_liq_sales['Address'] = iowa_liq_sales['Address'].str.replace('.','')

In [ ]:
iowa_liq_sales['Address'] = iowa_liq_sales['Address'].str.replace('  ',' ')

In [ ]:
# look at the new look
iowa_liq_sales['Address'].head(25)

In [ ]:
iowa_liq_sales['Address'].nunique()

In [ ]:
# CITY
iowa_liq_sales["City"].describe()

In [ ]:
# check for any incorrect entries
iowa_liq_sales['City'].unique()

###### some are all caps let's standardize that

In [ ]:
# convert all cities to upper case
iowa_liq_sales['City'] = iowa_liq_sales['City'].str.upper()

In [ ]:
# compare to earlier unique values
iowa_liq_sales['City'].nunique()

In [ ]:
# further exploration distinct combinations

(~iowa_liq_sales.duplicated(['Store Number','Store Name', 'Zip Code'])).sum(), (~iowa_liq_sales.duplicated(['Store Number','Store Name', 'Address'])).sum()

In [ ]:
# STORE LOCATION

#I have not used gps data before but these seem to be in the correct format.

In [ ]:
# COUNTY NUMBER

iowa_liq_sales['County Number'] = iowa_liq_sales['County Number'].astype('int64')

In [ ]:
# a quick google search of: number of counties in iowa, 99 is correct

iowa_liq_sales['County Number'].nunique()

In [ ]:
# COUNTY

# we know it is supposed to be 99
iowa_liq_sales['County'].nunique()

In [ ]:
# examine
iowa_liq_sales['County'].head(25)

In [ ]:
# make all county names capital
iowa_liq_sales['County'] = iowa_liq_sales['County'].str.upper()

In [ ]:
# did we catch 'em all?
iowa_liq_sales['County'].nunique()

In [ ]:
iowa_liq_sales['County'].unique()

#### okay we have 4 too many, a read through: buena vist probably is buena vista, cerro gord is cerro gordo, o'brien and obrien, and pottawatta is pottawattamie

In [ ]:
# swap back and forth
iowa_liq_sales['County'] = iowa_liq_sales['County'].str.replace('OBRIEN',"O'BRIEN")
iowa_liq_sales['County'] = iowa_liq_sales['County'].str.replace('VISTA','VIST')
iowa_liq_sales['County'] = iowa_liq_sales['County'].str.replace('CERRO GORDO','CERRO GORD')
iowa_liq_sales['County'] = iowa_liq_sales['County'].str.replace('POTTAWATTAMIE','POTTAWATTA')

iowa_liq_sales['County'] = iowa_liq_sales['County'].str.replace('VIST','VISTA')
iowa_liq_sales['County'] = iowa_liq_sales['County'].str.replace('CERRO GORD','CERRO GORDO')
iowa_liq_sales['County'] = iowa_liq_sales['County'].str.replace('POTTAWATTA','POTTAWATTAMIE')

In [ ]:
# did we catch 'em all?
iowa_liq_sales['County'].unique()

In [ ]:
iowa_liq_sales['County'].nunique()

In [ ]:
# CATEGORY
iowa_liq_sales['Category'].nunique()

In [ ]:
# take a look
iowa_liq_sales['Category'].unique()

In [ ]:
iowa_liq_sales['Category'].dtype

In [ ]:
# let's remove the trailing period
iowa_liq_sales['Category'] = iowa_liq_sales['Category'].astype('int64')

In [ ]:
# CATEGORY NAME
iowa_liq_sales['Category Name'].nunique()

###### this is greater than the amount of category numbers

In [ ]:
# so take a look
iowa_liq_sales['Category Name'].unique()

In [ ]:
# try standardizing letter case
iowa_liq_sales['Category Name'] = iowa_liq_sales['Category Name'].str.upper()

In [ ]:
# we want 109
iowa_liq_sales['Category Name'].nunique()

In [ ]:
iowa_liq_sales['Category Name'].unique()

In [ ]:
# I see a few double spaces
iowa_liq_sales['Category Name'] = iowa_liq_sales['Category Name'].str.replace('  ', ' ')

In [ ]:
# we want 109
iowa_liq_sales['Category Name'].nunique()

In [ ]:
# after reading through the list it was 'COCKTAILS /RTD' and 'COCKTAILS / RTD'
# however also reading through the list these might be tax distinctions rather than specific alchohol groups
iowa_liq_sales['Category Name'] = iowa_liq_sales['Category Name'].str.replace('COCKTAILS /RTD', 'COCKTAILS / RTD')

In [ ]:
# we want 109
iowa_liq_sales['Category Name'].nunique()

In [ ]:
# checking to see if these combinations line up
iowa_liq_sales.groupby('Category')['Category Name'].unique().head(25)

In [ ]:
# create a function to create less specific column for liquor type

def type(x):
    #search through values to apply a new label
    if "IOWA" in x:
        return "IOWA LOCAL"
    elif "TEMPORARY" in x:
        return "SPECIAL PACKAGING"
    elif "HOLIDAY" in x:
        return "SPECIAL PACKAGING"
    elif "DELISTED" in x:
        return "DELISTED"
    elif "LIQUEUR" in x:
        return "LIQUEUR"
    elif "ROCK & RYE" in x:
        return "LIQUEUR"
    elif "AMARETTO" in x:
        return "LIQUEUR"
    elif "SCHNAPPS" in x:
        return "LIQUEUR"
    elif 'TRIPLE SEC' in x:
        return "LIQUEUR"
    elif 'SLOE' in x:
        return "LIQUEUR"
    elif "CREME" in x:
        return 
    elif "RYE" in x:
        return "RYE"
    elif "RUM" in x:
        return "RUM"
    elif "SCOTCH" in x:
        return "SCOTCH"
    elif "BOURBON" in x:
        return "BOURBON"
    elif "TEQUILA" in x:
        return "TEQUILA" 
    elif "MEZCAL" in x:
        return "MEZCAL" 
    elif "VODKA" in x:
        return "VODKA"
    elif "GIN" in x:
        return "GIN"
    elif "BRANDIES" in x:
        return "BRANDY"
    elif "WHISK" in x:
        return "WHISKY"
    elif "NEUTRAL" in x:
        return "NEUTRAL GRAIN"
    elif "SPECIAL" in x:
        return "SPECIALTY"
    elif "COCKTAIL" in x:
        return 'COCKTAILS / RTD'
    elif "HIGH PROOF BEER" in x:
        return 'HIGH PROOF BEER'
    
    else:
        return x

In [ ]:
# apply that function to create a new column
iowa_liq_sales['Type'] = iowa_liq_sales['Category Name'].apply(lambda x: type(x))

In [ ]:
iowa_liq_sales['Type'].unique()

In [ ]:
iowa_liq_sales[iowa_liq_sales['Type'] == "AMERICAN ALCOHOL"]['Item Description'].unique()

In [ ]:
# VENDOR NUMBER
iowa_liq_sales['Vendor Number'].nunique()

In [ ]:
# VENDOR NAME
iowa_liq_sales['Vendor Name'].nunique()

In [ ]:
#check for obvious duplicates
iowa_liq_sales['Vendor Name'].unique()

In [ ]:
#standardize 
iowa_liq_sales['Vendor Name'] = iowa_liq_sales['Vendor Name'].str.upper()

In [ ]:
# clean up some more
iowa_liq_sales['Vendor Name'] = iowa_liq_sales['Vendor Name'].str.replace('LLC','')

In [ ]:
iowa_liq_sales['Vendor Name'] = iowa_liq_sales['Vendor Name'].str.replace('INC','')

In [ ]:
iowa_liq_sales['Vendor Name'] = iowa_liq_sales['Vendor Name'].str.replace(',','')

In [ ]:
iowa_liq_sales['Vendor Name'] = iowa_liq_sales['Vendor Name'].str.replace('.','')

In [ ]:
iowa_liq_sales['Vendor Name'] = iowa_liq_sales['Vendor Name'].str.rstrip()

In [ ]:
iowa_liq_sales['Vendor Name'] = iowa_liq_sales['Vendor Name'].str.replace('-',' ')

In [ ]:
iowa_liq_sales['Vendor Name'] = iowa_liq_sales['Vendor Name'].str.replace('&',' AND ')

In [ ]:
iowa_liq_sales['Vendor Name'] = iowa_liq_sales['Vendor Name'].str.replace('LTD','')

In [ ]:
iowa_liq_sales['Vendor Name'] = iowa_liq_sales['Vendor Name'].str.replace('CORPORATION','CORP')

In [ ]:
iowa_liq_sales['Vendor Name'] = iowa_liq_sales['Vendor Name'].str.replace('SAZERAC NORTH AMERICA','SAZERAC COMPANY')

In [ ]:
iowa_liq_sales['Vendor Name'] = iowa_liq_sales['Vendor Name'].str.replace('/',' AND ')

In [ ]:
iowa_liq_sales['Vendor Name'] = iowa_liq_sales['Vendor Name'].str.replace('  ','')

In [ ]:
iowa_liq_sales['Vendor Name'] = iowa_liq_sales['Vendor Name'].str.replace('COMPANY','CORP')

In [ ]:
iowa_liq_sales['Vendor Name'].unique()

In [ ]:
iowa_liq_sales['Vendor Name'].nunique()

In [ ]:
# ITEM NUMBER

# getting rid of a letter
iowa_liq_sales['Item Number'] = iowa_liq_sales['Item Number'].str.replace('x904631','904631')

In [ ]:
# changing item number to numeric

# error there's a floatna type
#iowa_liq_sales['Item Number'] = iowa_liq_sales['Item Number'].astype('int64')

In [ ]:
# remove that one null entry by saving notna values
iowa_liq_sales = iowa_liq_sales[iowa_liq_sales['Item Number'].notna()]

In [ ]:
iowa_liq_sales['Item Number'] = iowa_liq_sales['Item Number'].astype('int64')

In [ ]:
iowa_liq_sales['Item Number'].nunique()

In [ ]:
# ITEM DESCRIPTION

iowa_liq_sales['Item Description'].nunique()

In [ ]:
# BOTTLE VOLUME (mL)
iowa_liq_sales['Bottle Volume (ml)'].nunique()

In [ ]:
iowa_liq_sales['Bottle Volume (ml)'].unique()

In [ ]:
# STATE BOTTLE COST
iowa_liq_sales['State Bottle Cost'].describe()

In [ ]:
# STATE BOTTLE RETAIL
iowa_liq_sales['State Bottle Retail'].describe()

In [ ]:
iowa_liq_sales['State Bottle Retail'].nunique()

In [ ]:
# BOTTLES SOLD
iowa_liq_sales['Bottles Sold']

In [ ]:
# SALE (DOLLARS)
iowa_liq_sales['Sale (Dollars)']

In [ ]:
# VOLUME SOLD (LITERS)
iowa_liq_sales['Volume Sold (Liters)'].nunique()

In [ ]:
iowa_liq_sales.head()

In [ ]:
# save progress as csv

#iowa_liq_sales.to_csv('iowa_clean.csv', index=False)

In [ ]:
# create internet sized sample
iowa_sample = iowa_liq_sales.sample(1000)

In [ ]:
# save the sample as a csv

#iowa_sample.to_csv('iowa_sample.csv', index=False)