# Data Wrangling for Iowa Liquor Sales Database

Objective is to prepare this dataframe for the next stages of data analysis.
1. Correct data types. 
2. Matching duplicate pairs of data such as: store number/ store name 
3. Deal with missing values. 
4. Removing unneeded columns.

In [1]:
# load packages

import pandas as pd
import numpy as np
import re

In [2]:
# CSV file is from "https://data.iowa.gov/Sales-Distribution/Iowa-Liquor-Sales/m3tr-qhgy"

# create variable to store dataset
iowa_liquor_sales = pd.read_csv('/Users/joe/Desktop/IOWA LIQUOR/Iowa_Liquor_Sales.csv')

/Users/joe/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (6,14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
# take a look at the data

iowa_liquor_sales.head().T

,0,1,2,3,4
Invoice/Item Number,INV-14268800019,INV-14257700018,INV-14217900044,INV-14268000158,INV-14312700006
Date,09/05/2018,09/05/2018,09/04/2018,09/05/2018,09/07/2018
Store Number,2508,5633,2590,3869,3880
Store Name,Hy-Vee Food Store #1 / Cedar Rapids,Home Town Wine & Spirits,Hy-Vee Food Store #5 / Cedar Rapids,Bootleggin' Barzini's Fin,Target Store T-2454 / Council Bluffs
Address,"1843 Johnson Avenue, N.W.",1202 A Ave E,3235 Oakland Road NE,412 1st Ave,3804 Metro Dr
City,Cedar Rapids,Oskaloosa,Cedar Rapids,Coralville,Council Bluffs
Zip Code,52405,52577,52402,52241,51503
Store Location,POINT (-91.697941 41.97447),POINT (-92.631487 41.296286),POINT (-91.658105 42.010971),POINT (-91.565517 41.672672),POINT (-95.837595 41.220979)
County Number,57.0,62.0,57.0,52.0,78.0
County,LINN,MAHASKA,LINN,JOHNSON,POTTAWATTA
Category,1081600.0,1081400.0,1081600.0,1031100.0,1011200.0
Category Name,Whiskey Liqueur,American Schnapps,Whiskey Liqueur,American Vodkas,Straight Bourbon Whiskies
Vendor Number,421.0,434.0,260.0,461.0,85.0
Vendor Name,SAZERAC COMPANY INC,LUXCO INC,DIAGEO AMERICAS,Skyy Spirits Inc,Brown Forman Corp.
Item Number,64864,81208,67267,37986,22215
Item Description,Fireball Cinnamon Whisky,Paramount Peppermint Schnapps,Yukon Jack Canadian Liqueur,Skyy Vodka,Woodford Reserve
Pack,24,6,12,12,12
Bottle Volume (ml),375,1750,1000,750,750
State Bottle Cost,5.33,7.5,11.75,9.01,22.49
State Bottle Retail,8.0,11.25,17.63,13.52,33.74
Bottles Sold,6,6,12,1,12
Sale (Dollars),48.0,67.5,211.56,13.52,404.88
Volume Sold (Liters),2.25,10.5,12.0,0.75,9.0
Volume Sold (Gallons),0.59,2.77,3.17,0.19,2.37

### Observations
1. spelling differences to standardize
2. there are also some columns I have no interest in: invoice, volume of sales in gallons, address

In [4]:
# and it's size

iowa_liquor_sales.shape

(22972250, 24)

In [5]:
# 22M entries with 24 features

In [6]:
# checking for missing
iowa_liquor_sales.isna().sum()

Invoice/Item Number            0
Date                           0
Store Number                   0
Store Name                     0
Address                    80069
City                       80068
Zip Code                   80113
Store Location           2263587
County Number             156873
County                    156871
Category                   16974
Category Name              25040
Vendor Number                  9
Vendor Name                    7
Item Number                    0
Item Description               0
Pack                           0
Bottle Volume (ml)             0
State Bottle Cost             10
State Bottle Retail           10
Bottles Sold                   0
Sale (Dollars)                10
Volume Sold (Liters)           0
Volume Sold (Gallons)          0
dtype: int64

### Missing values thoughts

1. Store location, GPS information is missing around 11% (at the moment I am uncertain if I will use this information.)

2. A potential use for this information would be to determine a good location for a new store. GPS data is coordinates on a plane. Basic statistics could be used to determine distance between stores

### Open questions

1. Do stores groupped together see greater sales or does isolated stores see greater sales. We also have zip codes for each store which are missing far fewer entries. Store density per zip code could also give an idea of this information, especially if acres/ sq. miles per zip is available

2. Before we simply drop nulls we need to know: Are the NaN values specific to a certain location? Would dropping them under represent an area

3. To do this let's explore the location information we do have, zip code. Once zip code has been cleaned we will be able to tell if the missing data is concentrated to a certain area. If the missing data is concentrated we will need to decide how to proceed. Which perhaps means ignoring store location entirely

## Let the Wrangling Begin!

### [ ' Zip Code ' ]

In [7]:
# ZIP CODE
iowa_liquor_sales['Zip Code'].nunique()

956

### Additional information
An internet search states that iowa has 1055 zip codes. At least the number isn't larger.

In [8]:
# zip code data type
iowa_liquor_sales['Zip Code'].dtypes

dtype('O')

### Objective: 

Change zipcode from object type to a numeric dtype

In [9]:
####### this code provides an error, but it let me know I had a non-numerical entry  ########

# iowaLiquorSales['Zip Code'] = iowaLiquorSales['Zip Code'].astype('float64')

# this let me know I need to look out for '712-2'

In [10]:
# how many have that entries have this faulty zip code?

iowa_liquor_sales[iowa_liquor_sales['Zip Code'] == '712-2'].groupby(['City']).describe()

       Store Number                                                       \
              count    mean  std     min     25%     50%     75%     max
City
DUNLAP       6989.0  4307.0  0.0  4307.0  4307.0  4307.0  4307.0  4307.0
Dunlap        951.0  4307.0  0.0  4307.0  4307.0  4307.0  4307.0  4307.0

       County Number        ... Volume Sold (Liters)        \
               count  mean  ...                  75%   max
City                        ...
DUNLAP        6604.0  43.0  ...                 10.5  60.0
Dunlap         471.0  43.0  ...                  9.0  42.0

       Volume Sold (Gallons)                                              \
                       count      mean       std   min   25%   50%   75%
City
DUNLAP                6989.0  1.440219  1.409358  0.03  0.26  0.59  2.77
Dunlap                 951.0  1.369085  1.258462  0.05  0.40  0.92  2.38


          max
City
DUNLAP  15.85
Dunlap  11.10

[2 rows x 96 columns]

### Observations

1. All of the entries are from the same city Dunlap. 
2. We also now know the 'city' feature has spelling issues

### Additional information

Dunlap which has a actual zip code of 51529 and turns out their area code is 712, likely the origin of the error

### Objective: 

Change all 712-2 zip codes to 51529

In [11]:
# replace all of those entries to the correct zip code

iowa_liquor_sales['Zip Code'] = iowa_liquor_sales['Zip Code'].replace({'712-2': 51529})

In [12]:
# examine different zip codes

iowa_liquor_sales['Zip Code'].unique()

array([52405, 52577, 52402, 52241, 51503, 50021, 50588, 50310, 50314,
       50501, 52245, 51041, 52240, 50023, 52722, 50322, 50035, 50315,
       50317, 52213, 50266, 50702, 50009, 50220, 52411, 50703, 52732,
       50854, 50644, 50010, 52807, 50613, 51501, 50265, 50135, 51351,
       50595, 50142, 50554, 50450, 51034, 51250, 50428, 52052, 51334,
       51566, 52804, 50129, 50616, 52002, 50313, 50701, 52001, 52501,
       52159, 50401, 52332, 52040, 51104, 52404, 51360, 50583, 50125,
       50707, 50247, 51401, 52205, 50111, 50312, 51103, 50158, 52172,
       50311, 51201, 52246, 51054, 51106, 50677, 50849, 52302, 50441,
       50321, 52175, 50138, 52060, 50014, 52401, 52803, 50581, 50423,
       51108, 50325, 52317, 52136, 50036, 50469, 50201, 52043, 50320,
       50638, 50058, 51534, 51301, 51105, 50126, 51031, 50219, 52544,
       50248, 52358, 52214, 51551, 52403, 52154, 50475, 50107, 52314,
       52031, 52208, 50211, 51247, 50112, 50621, 52003, 52057, 52748,
       50309, 50665, 50263, 52772, 52601, 50054, 50213, 50627, 50511,
       50124, 52753, 51241, 51249, 52101, 50273, 50533, 50574, 50316,
       50131, 52590, 51560, 52068, 50459, 50226, 50662, 52087, 51061,
       52627, 51455, 50130, 51632, 51445, 52033, 51246, 51040, 51101,
       52233, 52349, 50461, 50647, 52531, 50458, 52310, 51028, 52571,
       52342, 50323, 52053, 50622, 50424, 51012, 50659, 51601, 50003,
       51559, 52151, 50682, 52207, 52338, 51442, 52206, 50801, 50674,
       50225, 50438, 52301, 50648, 50536, 51245, 52303, 52036, 51331,
       52806, 52253, 50585, 52802, 50060, 51025, 50049, 50548, 51347,
       52076, 52361, 50435, 50525, 50472, 50436, 52352, 52777, 50590,
       50543, 52166, 50833, 51240, 50208, 50636, 52537, 50669, 51109,
       50421, 50244, 52142, 52351, 50140, 50602, 50841, 52203, 52079,
       52333, 51235, 51463, 50212, 50619, 52742, 50601, 50161, 50676,
       50061, 50056, 50163, 50324, 52733, 50667, 50517, 52340, 52565,
       50233, 52211, 50276, 52730, 51004, 52037, 51050, 50327, 50634,
       50452, 52042, 50651, 51055, 52146, 50047, 50156, 50122, 50033,
       50597, 51046, 50658, 51450, 52639, 50641, 50830, 50563, 51561,
       52656, 50635, 51461, 52556, 52645, 52346, 52144, 50675, 52632,
       50144, 50606, 50643, 52046, 50630, 51573, 50447, 50210, 50628,
       52655, 51449, 50075, 51530, 50257, 52761, 50240, 52347, 51238,
       50025, 51555, 50171, 52353, 52747, 52327, 52726, 52322, 52641,
       52591, 51537, 51529, 50169, 51035, 50115, 50069, 52356, 50150,
       52801, 52738, 50535, 50216, 51577, 50022, 52778, 51510, 50006,
       51579, 51640, 51023, 52227, 50249, 52316, 50851, 51521, 50020,
       50005, 50514, 50250, 52162, 50207, 50071, 52776, 52224, 51248,
       51058, 52339, 51346, 51553, 52637, 50170, 50070, 51237, 51016,
       50261, 51462, 52728, 51358, 50629, 51546, 51443, 52653, 52248,
       50530, 50483, 51001, 50123, 51002, 51653, 56201, 50028, 50542,
       50048, 52751, 51355, 50430, 52768, 52328, 51575, 50237, 52659,
       50529, 51003, 52345, 52247, 50456, 50109, 52318, 50632, 50466,
       50228, 52671, 50541, 52324, 52209, 51526, 52228, 51453, 50468,
       52254, 52306, 50206, 50579, 51466, 50660, 51342, 52626, 50236,
       50002, 50540, 51535, 50072, 50510, 50076, 50162.0, nan, 51005.0,
       52158.0, 50650.0, 50680.0, 50063.0, 52336.0, 52623.0, 52135.0,
       50251.0, 50160.0, 50569.0, 52553.0, 51027.0, 52625.0, 51024.0,
       52202.0, 51338.0, 51570.0, 52337.0, 52223.0, 51239.0, 50044.0,
       51038.0, 50604.0, 80904.0, '52001', '51106', '52402', '50428',
       '50265', '51537', '50533', '52405', '52761', '52233', '50171',
       '52240', '50248', '50536', '50315', '51566', '50501', '50401',
       '50703', '52732', '51249', '50158', '52601', '50595', '50023',
       '50325', '51503', '52338', '50320', '50702', '52241', '51334',
       '52726', '51555', '51012', '50311', '52246', '52804', '52404',
       '50138', '52172', '52302', '51360', '50131', '50314', '50677',
       '50321', '51501', '50014', '51016', '52632', '52087', '52101',
       '52655', '52803', '50441', '50112', '50025', '50461', '52303',
       '51401', '50644', '50801', '52333', '52003', '52641', '52403',
       '50021', '51462', '50126', '50049', '52801', '51247', '50674',
       '52314', '51632', '51526', '51351', '51031', '52556', '50613',
       '51534', '52671', '50310', '52537', '51601', '50211', '50216',
       '50003', '52806', '52772', '50036', '52159', '50849', '50111',
       '50035', '50309', '50511', '50317', '52753', '50548', '50220',
       '50263', '50266', '52401', '50421', '52316', '50125', '50129',
       '51331', '51559', '50020', '50313', '50841', '51241', '50273',
       '50316', '50009', '50010', '50579', '51025', '50436', '51201',
       '52656', '52778', '52324', '52205', '51510', '50588', '52742',
       '52060', '52627', '51342', '50213', '52245', '52807', '52002',
       '50322', '51301', '50312', '50616', '52733', '52544', '52317',
       '51245', '52146', '50208', '52353', '50022', '52214', '52411',
       '51521', '52052', '52310', '50648', '52802', '50707', '50069',
       '52043', '50161', '50424', '51445', '52748', '50669', '50060',
       '51577', '50250', '52653', '50459', '50438', '50662', '50435',
       '50583', '50638', '50585', '52501', '50701', '52722', '52738',
       '51246', '51530', '51240', '50130', '50033', '50601', '52531',
       '52336', '50647', '52040', '52136', '51248', '50627', '51058',
       '52728', '51250', '50517', '52565', '50574', '52228', '50530',
       '50044', '50163', '50054', '52142', '50659', '52166', '51034',
       '52301', '52776', '50226', '52637', '50324', '50469', '51455',
       '50075', '52356', '50212', '50423', '51442', '52057', '52747',
       '51041', '51529', '50676', '52340', '51237', '52135', '52068',
       '52623', '52151', '50597', '50543', '50665', '50076', '50525',
       '50251', '50115', '50201', '50047', '52730', '50072', '50854',
       '50682', '52033', '51038', '50554', '51450', '50135', '52031',
       '51461', '52042', '50156', '50602', '52253', '50247', '51035',
       '51346', '50563', '50628', '51050', '50249', '51560', '51358',
       '50472', '50483', '52144', '50833', '51575', '51546', '52361',
       '50606', '56201', '50323', '51535', '52175', '52327', '52318',
       '51235', '50636', '51443', '50450', '52046', '52154', '52591',
       '51028', '51653', '50830', '52211', '51561', '50276', '50006',
       '51005', '50590', '50056', '52347', '52306', '50622', '51553',
       '50225', '51449', '51023', '50142', '50058', '52639', '52577',
       '51004', '50124', '50466', '52076', '51463', '51104', '50228',
       '50140', '52213', '50219', '51054', '50675', '50240', '51108',
       '50629', '51103', '50630', '51105', '52206', '52342', '50651',
       '51101', '52209', '50851', '52162', '50327', '50456', '52349',
       '50542', '50658', '50458', '52345', '50028', '52328', '52227',
       '52208', '51040', '51001', '51055', '50643', '52768', '51046',
       '52207', '52351', '52332', '50109', '51579', '51109', '52053',
       '50063', '52223', '50680', '50206', '52158', '50210', '50169',
       '50002', '52254', '50430', '50641', '52036', '52626', '50061',
       '52202', '50569', '50144', '52358', '52037', '50046', '50170',
       '50535', '50621', '50244', '50540', 50046.0, '50619', '52553',
       '50635', '51551', '52625', '51573', '52248', '51570', '52224',
       '52571', '51002', '50634', '50541', '52079', '51347', '50452',
       '51453', '50581', '50475', '52352', '50514', '52554', '51338',
       '50122', '51061', '51027', '50237', '50160', '51355', '52777',
       '50529', '50207', '50510', '50071', '52751', '51466', '52346',
       '50864', '50667', '51640', '52590', '52337', '50107', '50261',
       '50162', 52554.0, 50864.0, 50603.0, 50598.0, '52659', '50447',
       '50123', '52322', '50632', '50048', '51238', '50070', '50257',
       '51003', '50300', '52084', '50136', '52157', '52161', '52004',
       '51053', '52035', '50846', '50598', '50015', '52134', '52069',
       '52049', '50174', '50150', '50603', '50575', '51230', '52132',
       '50468', '50005', '50233', '52645', '52247', '51239', '52203',
       '50604', '50236', 52132.0, 52767, 52218.0, 50846, '52339', '52218',
       '51024', 52161.0, 50300.0, 52084.0, 50174.0, 50558, 52216, 52773,
       57222, 52755, 52235, 52766, 52638, 50268, 52561, 50655, 51638,
       50471, 52640, 50008, 52305.0, 51458.0, 52035.0, 50106.0, 51039.0,
       52155, 50336, 50157.0, 52056.0, 52069.0, 50575.0, 50166.0, 52362.0,
       51234.0, 51652], dtype=object)

### Observations
1. float values
2. int values
3. strings
4. one nan

### Additional thoughts
there is only 1 nan in 22M. we could easily drop it. with:
iowa_liquor_sales = iowa_liquor_sales[iowa_liquor_sales['Zip Code'].notna()]

But it is also just 1 so correcting it will be fast too.

In [13]:
# turn the nan into a zero
iowa_liquor_sales['Zip Code'] = iowa_liquor_sales['Zip Code'].replace(np.nan, 0)

# check out where that store location is
iowa_liquor_sales[iowa_liquor_sales['Zip Code'] == 0].groupby(['City']).describe()

        Store Number                                                       \
               count    mean  std     min     25%     50%     75%     max
City
Stanton         45.0  5276.0  0.0  5276.0  5276.0  5276.0  5276.0  5276.0

        County Number       ... Volume Sold (Liters)        \
                count mean  ...                  75%   max
City                        ...
Stanton           0.0  NaN  ...                  4.5  10.5

        Volume Sold (Gallons)
                        count      mean       std  min   25%   50%   75%   max
City
Stanton                  45.0  1.071333  0.738634  0.3  0.59  0.59  1.19  2.77

[1 rows x 96 columns]

In [14]:
# Our single missing value is from stanton
# what is the zip code of stanton?
iowa_liquor_sales[iowa_liquor_sales['City'] == 'Stanton'].groupby(['Zip Code']).describe()

         Store Number                                                       \
                count    mean  std     min     25%     50%     75%     max
Zip Code
0                45.0  5276.0  0.0  5276.0  5276.0  5276.0  5276.0  5276.0
51573           725.0  5276.0  0.0  5276.0  5276.0  5276.0  5276.0  5276.0
51573            68.0  5276.0  0.0  5276.0  5276.0  5276.0  5276.0  5276.0

         County Number        ... Volume Sold (Liters)        \
                 count  mean  ...                  75%   max
Zip Code                      ...
0                  0.0   NaN  ...                  4.5  10.5
51573            725.0  69.0  ...                 10.5  63.0
51573             68.0  69.0  ...                  9.0  21.0

         Volume Sold (Gallons)                                              \
                         count      mean       std   min   25%   50%   75%
Zip Code
0                         45.0  1.071333  0.738634  0.30  0.59  0.59  1.19
51573                    725.0  2.806262  2.264226  0.01  2.37  2.37  2.77
51573                     68.0  1.913971  1.446331  0.59  0.79  1.19  2.38


            max
Zip Code
0          2.77
51573     16.64
51573      5.55

[3 rows x 96 columns]

### Observation

1. We already knew about data type duplicates.
2. Stanton's zip code is 51573

In [15]:
# Objective: change zipcode '0' to the correct value of 51573

# earlier we used the replace method because the zipcode had a '-' in it. if we use it again:
# iowa_liquor_sales['Zip Code'] = iowa_liquor_sales['Zip Code'].replace({0: 51573})
# all zipcodes containing a '0' would have their '0' replaced with five extra digits

# instead we will write over those specific entries
iowa_liquor_sales.loc[iowa_liquor_sales['Zip Code'] == 0, 'Zip Code'] = 51573

In [16]:
# now the zip codes should be ready for conversion
# converting all zip codes to numeric
iowa_liquor_sales['Zip Code'] = iowa_liquor_sales['Zip Code'].astype('int64')

In [17]:
# I know it was a while ago, but all that zip code cleaning was to see if the missing store location data
# is concentrated.

# we can groupby zipcode to see if the missing gps locations are in the same place

df = iowa_liquor_sales[['Store Location', 'Zip Code']]

In [18]:
# get rid of the null values in dummy dataframe
df['Store Location'] = df['Store Location'].fillna(0)

/var/folders/70/gq6zfpsx5rg7k0vsvcbg70_40000gn/T/ipykernel_87008/2221258938.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Store Location'] = df['Store Location'].fillna(0)

In [19]:
# focus on just the missing locations
dff = df[df['Store Location'] == 0]

In [20]:
# how many missing values are there per zip code
dff.value_counts()

Store Location  Zip Code
0               50010       131355
                52804       123691
                52302       121012
                50701       115002
                50021       104475
                             ...
                52778            1
                52625            1
                52151            1
                50638            1
                50006            1
Length: 255, dtype: int64

In [21]:
# missing store locations might be grouped. There are 100,000 missing in multiple zip codes
# remember there are about 2M missing store locations

iowa_liquor_sales[iowa_liquor_sales['Zip Code'] == 52302].groupby(['City']).describe()

       Store Number                                                            \
              count         mean          std     min     25%     50%     75%
City
MARION      76434.0  3315.830455   792.705327  2560.0  2560.0  2847.0  4180.0
Marion     124775.0  3607.472482  1031.075003  2514.0  2560.0  3868.0  4180.0

                Zip Code           ... Volume Sold (Liters)          \
           max     count     mean  ...                  75%     max
City                               ...
MARION  4736.0   76434.0  52302.0  ...                 10.5  1050.0
Marion  6254.0  124775.0  52302.0  ...                 10.5  2100.0

       Volume Sold (Gallons)                                              \
                       count      mean       std   min   25%   50%   75%
City
MARION               76434.0  2.139319  5.502494  0.03  0.59  1.27  2.77
Marion              124775.0  2.204316  6.600444  0.00  0.59  1.38  2.77


           max
City
MARION  277.38
Marion  554.76

[2 rows x 104 columns]

### Observations

1. Just from the most common missing gps data. Ames Iowa. 131355 out of the 559568 that is 20% which is over a years worth. I do not want to drop these missing values.
2. From the 5th most common missing, ankeny 104475 / ~250000 that is ~40%
3. 52302 (city of marion) has 121012 missing values  and about 200000 total which is 60%
4. The missing gps data appears to be correlated. I will be dropping store location.

In [22]:
# drop unneeded columns

# invoice and pack columns are important for the distributers with warehouse inventory, not for store habits.
# store sell the individual items not cases most often.

iowa = iowa_liquor_sales.drop(columns=['Invoice/Item Number','Address','Store Location','Pack','Volume Sold (Gallons)'])

In [23]:
# current state
iowa.head().T

,0,1,2,3,4
Date,09/05/2018,09/05/2018,09/04/2018,09/05/2018,09/07/2018
Store Number,2508,5633,2590,3869,3880
Store Name,Hy-Vee Food Store #1 / Cedar Rapids,Home Town Wine & Spirits,Hy-Vee Food Store #5 / Cedar Rapids,Bootleggin' Barzini's Fin,Target Store T-2454 / Council Bluffs
City,Cedar Rapids,Oskaloosa,Cedar Rapids,Coralville,Council Bluffs
Zip Code,52405,52577,52402,52241,51503
County Number,57.0,62.0,57.0,52.0,78.0
County,LINN,MAHASKA,LINN,JOHNSON,POTTAWATTA
Category,1081600.0,1081400.0,1081600.0,1031100.0,1011200.0
Category Name,Whiskey Liqueur,American Schnapps,Whiskey Liqueur,American Vodkas,Straight Bourbon Whiskies
Vendor Number,421.0,434.0,260.0,461.0,85.0
Vendor Name,SAZERAC COMPANY INC,LUXCO INC,DIAGEO AMERICAS,Skyy Spirits Inc,Brown Forman Corp.
Item Number,64864,81208,67267,37986,22215
Item Description,Fireball Cinnamon Whisky,Paramount Peppermint Schnapps,Yukon Jack Canadian Liqueur,Skyy Vodka,Woodford Reserve
Bottle Volume (ml),375,1750,1000,750,750
State Bottle Cost,5.33,7.5,11.75,9.01,22.49
State Bottle Retail,8.0,11.25,17.63,13.52,33.74
Bottles Sold,6,6,12,1,12
Sale (Dollars),48.0,67.5,211.56,13.52,404.88
Volume Sold (Liters),2.25,10.5,12.0,0.75,9.0

In [24]:
# check column data types
iowa.dtypes

Date                     object
Store Number              int64
Store Name               object
City                     object
Zip Code                  int64
County Number           float64
County                   object
Category                float64
Category Name            object
Vendor Number           float64
Vendor Name              object
Item Number              object
Item Description         object
Bottle Volume (ml)        int64
State Bottle Cost       float64
State Bottle Retail     float64
Bottles Sold              int64
Sale (Dollars)          float64
Volume Sold (Liters)    float64
dtype: object

In [25]:
# missing values
iowa.isna().sum()

Date                         0
Store Number                 0
Store Name                   0
City                     80068
Zip Code                     0
County Number           156873
County                  156871
Category                 16974
Category Name            25040
Vendor Number                9
Vendor Name                  7
Item Number                  0
Item Description             0
Bottle Volume (ml)           0
State Bottle Cost           10
State Bottle Retail         10
Bottles Sold                 0
Sale (Dollars)              10
Volume Sold (Liters)         0
dtype: int64

### [ ' Date ' ]

In [26]:
#DATE COLUMN
# we know that date is currently an object, we would like to have this be in datetime
iowa['Date'].describe(datetime_is_numeric=True)

count       22972250
unique          2502
top       12/22/2020
freq           18002
Name: Date, dtype: object

### Observation
1. 18000 deliveries on 12/22/2020. There are only ~2600 different storesthat is a busy day at the warehouse

In [27]:
# 'Date' column is also an object type. 
# let's change that to date time with pandas.to_datetime()

iowa['Date'] = pd.to_datetime(iowa['Date'])

### [ ' Store Number ' ] and [ ' Store Name ' ]

In [28]:
# STORE NUMBER COLUMN

# how many different store numbers are there?
iowa['Store Number'].nunique()

2687

In [29]:
# STORE NAME COLUMN

iowa['Store Name'].describe()

count                         22972250
unique                            2839
top       Hy-Vee #3 / BDI / Des Moines
freq                            191226
Name: Store Name, dtype: object

### Observation
1. 2839 unique store names
2. 2687 unique numbers

so there are at least some spelling issues

In [30]:
# clean up some

iowa['Store Name'] = iowa['Store Name'].str.capitalize()

In [31]:
# function to clean up duplicates
# we have more names than numbers, so numbers will have certainly have duplicates

def duplicate_cleaner(dataset, col_more, col_less):
    
    ### PART 1: find the duplicate values
    
    # create a dummy df with just the store number and name that has all the combinations
    dup_df1 = dataset.drop_duplicates(subset = [col_less, col_more])[[col_less, col_more]]

    # sort these combinations by occurances of the column with less values 
    dup_df2 = dup_df1.groupby(col_less).count()
    
    # ascending false because we want the larger numbers aka duplicates
    dup_df2 = dup_df2.sort_values(col_more, ascending = False)
    
    # remove singles, or non-duplicates
    dup_df3 = dup_df2[dup_df2[col_more] > 1 ].reset_index()
    
    ### PART 2: create a list of values for mapping
    
    # list of values
    values = dataset.groupby([col_less, col_more]).count().reset_index()
        
    # create a duplicate value list from the duplicate df
    wrong_values = values[values[col_less].isin(dup_df3[col_less])].sort_values(col_less)[[col_less, col_more]]
    
    # list of 'correct' names, most common name entry for each store
    values_map = wrong_values.groupby(col_less).max()[[col_more]].reset_index()
    
    ### PART 3: merge the correct values onto the original dataset, merged on col_less
    # and delete duplicate columns
    
    # merge 'correct' names with the df, merged on store number
    dataset = pd.merge(left = dataset, right = values_map, left_on = col_less, right_on = col_less, how = 'left')
    
    # now our dataframe has multiple store name columns
    # col_more_y is the cleaned values for duplicates
    
    # fill in the missing values (the values where there was no duplication from the original name column)
    dataset[col_more] = dataset[col_more+'_y'].fillna(dataset[col_more+'_x'])
    
    # drop the extra col_more column
    dataset = dataset.drop(columns=[col_more+'_x', col_more+'_y'])
    
    print(dataset[[col_less, col_more]].nunique())
    return dataset

In [32]:
# data, column less #, column more #
iowa = duplicate_cleaner(iowa, 'Store Name', 'Store Number')

Store Number    2687
Store Name      2555
dtype: int64

In [33]:
### We now have less Names than Numbers, so let's do it the other direction.
iowa = duplicate_cleaner(iowa, 'Store Number', 'Store Name')

Store Name      2555
Store Number    2555
dtype: int64

### [ ' City ' ]

#### From earlier we know that city has 80000 nan's

In [34]:
# CITY
iowa["City"].describe()

count       22892182
unique           846
top       Des Moines
freq         1166664
Name: City, dtype: object

### Observations
1. most common city is the largest city
2. 846 cities

We also likely have spelling issues

In [35]:
# check for any incorrect entries
# first let's standardize capitalization

# convert all cities to upper case
iowa['City'] = iowa['City'].str.upper()

In [36]:
# look for duplicates
dummy = iowa['City'].drop_duplicates()
sorted(dummy.astype('str'))

['ACKLEY',
 'ADAIR',
 'ADEL',
 'AFTON',
 'AKRON',
 'ALBERT CITY',
 'ALBIA',
 'ALBION',
 'ALBURNETT',
 'ALDEN',
 'ALGONA',
 'ALLERTON',
 'ALLISON',
 'ALTA',
 'ALTA VISTA',
 'ALTON',
 'ALTOONA',
 'ALVORD',
 'AMANA',
 'AMES',
 'ANAMOSA',
 'ANITA',
 'ANKENY',
 'ANTHON',
 'APLINGTON',
 'ARLINGTON',
 'ARMSTRONG',
 "ARNOLD'S PARK",
 'ARNOLDS PARK',
 'ATKINS',
 'ATLANTIC',
 'AUDUBON',
 'AURELIA',
 'AVOCA',
 'BALDWIN',
 'BANCROFT',
 'BAXTER',
 'BEDFORD',
 'BELLE PLAINE',
 'BELLEVUE',
 'BELMOND',
 'BETTENDORF',
 'BEVINGTON',
 'BLAIRSTOWN',
 'BLOOMFIELD',
 'BLUE GRASS',
 'BONDURANT',
 'BOONE',
 'BOYDEN',
 'BRITT',
 'BROOKLYN',
 'BUFFALO',
 'BUFFALO CENTER',
 'BURLINGTON',
 'BUSSEY',
 'CALMAR',
 'CAMANCHE',
 'CAMBRIDGE',
 'CARLISLE',
 'CARROLL',
 'CARTER LAKE',
 'CASCADE',
 'CASEY',
 'CEDAR FALLS',
 'CEDAR RAPIDS',
 'CENTER POINT',
 'CENTERVILLE',
 'CENTRAL CITY',
 'CHARITON',
 'CHARLES CITY',
 'CHEROKEE',
 'CHESTER',
 'CLARENCE',
 'CLARINDA',
 'CLARION',
 'CLARKSVILLE',
 'CLEAR LAKE',
 'CLEARLAKE',
 'CLERMONT',
 'CLINTON',
 'CLIVE',
 'COGGON',
 'COLESBURG',
 'COLFAX',
 'COLO',
 'COLORADO SPRINGS',
 'COLUMBUS JUNCTION',
 'CONRAD',
 'COON RAPIDS',
 'CORALVILLE',
 'CORNING',
 'CORRECTIONVILLE',
 'CORWITH',
 'CORYDON',
 'COUNCIL BLUFFS',
 'CRESCENT',
 'CRESCO',
 'CRESTON',
 'CUMMING',
 'DAKOTA CITY',
 'DALLAS CENTER',
 'DANVILLE',
 'DAVENPORT',
 'DAYTON',
 'DE SOTO',
 'DECORAH',
 'DELAWARE',
 'DELHI',
 'DELMAR',
 'DENISON',
 'DENVER',
 'DES MOINES',
 'DEWITT',
 'DEXTER',
 'DONNELLSON',
 'DOON',
 'DOWS',
 'DUBUQUE',
 'DUMONT',
 'DUNLAP',
 'DURANT',
 'DYERSVILLE',
 'DYSART',
 'EAGLE GROVE',
 'EARLHAM',
 'EARLING',
 'EARLY',
 'EDDYVILLE',
 'EDGEWOOD',
 'ELDON',
 'ELDORA',
 'ELDRIDGE',
 'ELKADER',
 'ELLSWORTH',
 'ELMA',
 'ELY',
 'EMMETSBURG',
 'ESSEX',
 'ESTHERVILLE',
 'EVANSDALE',
 'EVERLY',
 'EXIRA',
 'FAIRBANK',
 'FAIRFAX',
 'FAIRFIELD',
 'FARLEY',
 'FARMINGTON',
 'FAYETTE',
 'FLOYD',
 'FONDA',
 'FONTANELLE',
 'FOREST CITY',
 'FORT ATKINSON',
 'FORT DODGE',
 'FORT MADISON',
 'FREDERICKSBURG',
 'FREMONT',
 'FT. ATKINSON',
 'GARNAVILLO',
 'GARNER',
 'GARWIN',
 'GEORGE',
 'GILBERTVILLE',
 'GILMAN',
 'GILMORE CITY',
 'GLADBROOK',
 'GLENWOOD',
 'GLIDDEN',
 'GOLDFIELD',
 'GOWRIE',
 'GRAETTINGER',
 'GRAND JUNCTION',
 'GRAND MOUND',
 'GRAND MOUNDS',
 'GRANGER',
 'GREENE',
 'GREENFIELD',
 'GRIMES',
 'GRINNELL',
 'GRISWOLD',
 'GRUNDY CENTER',
 'GUTHRIE CENTER',
 'GUTTENBERG',
 'GUTTENBURG',
 'HAMBURG',
 'HAMPTON',
 'HARLAN',
 'HARPERS FERRY',
 'HARTLEY',
 'HAWARDEN',
 'HAZLETON',
 'HIAWATHA',
 'HILLS',
 'HINTON',
 'HOLSTEIN',
 'HOLY CROSS',
 'HOSPERS',
 'HUBBARD',
 'HUDSON',
 'HULL',
 'HUMBOLDT',
 'HUMESTON',
 'HUXLEY',
 'IDA GROVE',
 'INDEPENDENCE',
 'INDIANOLA',
 'INWOOD',
 'IOWA CITY',
 'IOWA FALLS',
 'IRETON',
 'JEFFERSON',
 'JESUP',
 'JEWELL',
 'JOHNSTON',
 'KALONA',
 'KANAWHA',
 'KELLOG',
 'KELLOGG',
 'KEOKUK',
 'KEOSAUQUA',
 'KEOTA',
 'KINGSLEY',
 'KNOXVILLE',
 'LA PORTE CITY',
 'LAKE CITY',
 'LAKE MILLS',
 'LAKE PARK',
 'LAKE VIEW',
 'LAMONI',
 'LAMONT',
 'LANSING',
 'LARCHWOOD',
 'LATIMER',
 'LAURENS',
 'LAWLER',
 'LE CLAIRE',
 'LE GRAND',
 'LE MARS',
 'LECLAIRE',
 'LEMARS',
 'LENOX',
 'LEON',
 'LIME SPRINGS',
 'LISBON',
 'LIVERMORE',
 'LOGAN',
 'LOHRVILLE',
 'LONETREE',
 'LOST NATION',
 'LOVILIA',
 'LUXEMBURG',
 'MADRID',
 'MALCOM',
 'MALVERN',
 'MANCHESTER',
 'MANLY',
 'MANNING',
 'MANSON',
 'MAPLETON',
 'MAQUOKETA',
 'MARCUS',
 'MARENGO',
 'MARION',
 'MARQUETTE',
 'MARSHALLTOWN',
 'MARTELLE',
 'MARTENSDALE',
 'MASON CITY',
 'MAXWELL',
 'MAYNARD',
 'MCGREGOR',
 'MECHANICSVILLE',
 'MEDIAPOLIS',
 'MELBOURNE',
 'MELCHER-DALLAS',
 'MERRILL',
 'MIDDLETOWN',
 'MILFORD',
 'MILO',
 'MINDEN',
 'MISSOURI VALLEY',
 'MITCHELLVILLE',
 'MONONA',
 'MONROE',
 'MONTEZUMA',
 'MONTICELLO',
 'MONTROSE',
 'MORAVIA',
 'MORNING SUN',
 'MOUNT AYR',
 'MOUNT PLEASANT',
 'MOUNT VERNON',
 'MOVILLE',
 'MT PLEASANT',
 'MT VERNON',
 'MURRAY',
 'MUSCATINE',
 'NASHUA',
 'NEOLA',
 'NEVADA',
 'NEW HAMPTON',
 'NEW HARTFORD',
 'NEW LONDON',
 'NEW SHARON',
 'NEW VIRGINIA',
 'NEWTON',
 'NICHOLS',
 'NORA SPRINGS',
 'NORTH ENGLISH',
 'NORTH LIBERTY',
 'NORTHWOOD',
 'NORWALK',
 'NORWAY',
 'OAKLAND',
 'ODEBOLT',
 'OELWEIN',
 'OGDEN',
 'OKOBOJI',
 'ONAWA',
 'ORANGE CITY',
 'OSAGE',
 'OSCEOLA',
 'OSKALOOSA',
 'OSSIAN',
 'OTHO',
 'OTTUMWA',
 'OTTUWMA',
 'OTUMWA',
 'OXFORD',
 'PACIFIC JUNCTION',
 'PALO',
 'PANORA',
 'PARKERSBURG',
 'PAULLINA',
 'PELLA',
 'PEOSTA',
 'PERRY',
 'PLEASANT HILL',
 'PLEASANT VALLEY',
 'PLEASANTVILLE',
 'POCAHONTAS',
 'POLK CITY',
 'POMEROY',
 'POSTVILLE',
 'PRAIRIE CITY',
 'PRESTON',
 'PRIMGHAR',
 'PRINCETON',
 'RAYMOND',
 'RED OAK',
 'REDFIELD',
 'REINBECK',
 'REMSEN',
 'RICEVILLE',
 'RIVERSIDE',
 'ROBINS',
 'ROCK RAPIDS',
 'ROCK VALLEY',
 'ROCKFORD',
 'ROCKWELL',
 'ROCKWELL CITY',
 'ROLAND',
 'ROLFE',
 'RUDD',
 'RUNNELLS',
 'RUTHVEN',
 'SAC CITY',
 'SAGEVILLE',
 'SAINT ANSGAR',
 'SANBORN',
 'SCHALLER',
 'SCHLESWIG',
 'SCRANTON',
 'SERGEANT BLUFF',
 'SEYMOUR',
 'SHEFFIELD',
 'SHELBY',
 'SHELDON',
 'SHELLSBURG',
 'SHENANDOAH',
 'SHUEYVILLE',
 'SIBLEY',
 'SIDNEY',
 'SIGOURNEY',
 'SIOUX CENTER',
 'SIOUX CITY',
 'SIOUX RAPIDS',
 'SLATER',
 'SLOAN',
 'SOLON',
 'SPENCER',
 'SPIRIT LAKE',
 'SPRINGVILLE',
 'ST ANSGAR',
 'ST CHARLES',
 'ST LUCAS',
 'STANTON',
 'STANWOOD',
 'STATE CENTER',
 'STORM LAKE',
 'STORY CITY',
 'STRATFORD',
 'STRAWBERRY POINT',
 'STUART',
 'SULLY',
 'SUMNER',
 'SUTHERLAND',
 'SWEA CITY',
 'SWISHER',
 'TABOR',
 'TAMA',
 'TEMPLETON',
 'TIFFIN',
 'TIPTON',
 'TOLEDO',
 'TRAER',
 'TREYNOR',
 'TRIPOLI',
 'TRURO',
 'URBANA',
 'URBANDALE',
 'VAN HORNE',
 'VAN METER',
 'VICTOR',
 'VILLISCA',
 'VINTON',
 'WALCOTT',
 'WALFORD',
 'WALKER',
 'WALL LAKE',
 'WALNUT',
 'WAPELLO',
 'WASHBURN',
 'WASHINGTON',
 'WASHTA',
 'WATERLOO',
 'WAUKEE',
 'WAUKON',
 'WAVERLY',
 'WEBSTER CITY',
 'WELLMAN',
 'WELLSBURG',
 'WESLEY',
 'WEST BEND',
 'WEST BRANCH',
 'WEST BURLINGTON',
 'WEST DES MOINES',
 'WEST LIBERTY',
 'WEST POINT',
 'WEST UNION',
 'WHAT CHEER',
 'WHEATLAND',
 'WHITTEMORE',
 'WILLIAMSBURG',
 'WILTON',
 'WINDSOR HEIGHTS',
 'WINFIELD',
 'WINTERSET',
 'WINTHROP',
 'WOODBINE',
 'WOODWARD',
 'WYOMING',
 'ZWINGLE',
 'nan']

### Observations:
1. There are some duplicates that are almost spelled the same
2. there is a nan

In [37]:
# create a map to swap-out / correct the spelling
mapping = {"ARNOLD'S PARK" : 'ARNOLDS PARK',
           'CLEAR LAKE' : 'CLEARLAKE',
           'COLORADO SPRINGS' : np.nan,
           'FT. ATKINSON' : 'FORT ATKINSON',
           'GRAND MOUND' : 'GRAND MOUNDS',
           'GUTTENBERG' : 'GUTTENBURG',
           'KELLOG' : 'KELLOGG',
           'LECLAIRE' : 'LE CLAIRE',
           'LEMARS' : 'LE MARS',
           'MT PLEASANT' : 'MOUNT PLEASANT',
           'MT VERNON' : 'MOUNT VERNON',
           'OTTUWMA' : 'OTTUMWA',
           'OTUMWA' : 'OTTUMWA'}

In [38]:
#### map the correct spelllings onto their replacements
iowa['City'] = iowa['City'].replace(mapping.keys(), list(map(str, mapping.values())), regex=True)

In [39]:
# we are going to fill missing values with the preceeding value when sorted by that column (alphabetical)
# if we sort by zip then city all the na cities should be at the bottom and ffill will fill them mostly correctly

iowa = iowa.sort_values(by = ['Zip Code','City'])
iowa['City'] = iowa['City'].fillna(method='ffill')

### [ ' County Number ' ]

In [40]:
# COUNTY NUMBER

# this is an error
#iowa['County Number'] = iowa['County Number'].astype('int64')

# IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

iowa['County Number'] = iowa['County Number'].fillna(0)

In [41]:
# try this again
iowa['County Number'] = iowa['County Number'].astype('int64')

In [42]:
# check out some zip code combinations for the county 0
iowa.groupby('County Number').agg({'Zip Code': ['count','max','min',pd.Series.mode,pd.Series.nunique]})

              Zip Code
                 count    max    min   mode nunique
County Number
0               156873  80904  50009  51573      98
1                46923  50849  50002  50250       4
2                18669  50841  50841  50841       1
3                94753  52172  52146  52172       4
4                82291  52571  52544  52544       2
...                ...    ...    ...    ...     ...
95               79682  50450  50424  50436       3
96              117014  52161  52101  52101       4
97              713633  51109  51004  51106      12
98               32251  50459  50456  50459       2
99               66076  50542  50071  50533       5

[100 rows x 5 columns]

In [43]:
# 98 different zip codes are represented in the missing county values
# one, 80904, appears to not be in iowa
iowa = iowa[iowa['County Number'] != 0]

In [44]:
iowa.isna().sum()

Date                        0
City                        0
Zip Code                    0
County Number               0
County                      0
Category                16748
Category Name           24644
Vendor Number               9
Vendor Name                 7
Item Number                 0
Item Description            0
Bottle Volume (ml)          0
State Bottle Cost          10
State Bottle Retail        10
Bottles Sold                0
Sale (Dollars)             10
Volume Sold (Liters)        0
Store Name                  0
Store Number                0
dtype: int64

In [45]:
# a quick internet search of: number of counties in iowa, 99 is correct

iowa['County Number'].nunique()

99

### [ ' County ' ]

In [46]:
# COUNTY

# we know it is supposed to be 99
iowa['County'].nunique()

200

In [47]:
# 200 > 99. Examine some values

# make all county names capitalized
iowa['County'] = iowa['County'].str.upper()

# did we catch 'em all?
iowa['County'].nunique()

103

In [48]:
# look for duplicates
dummy = iowa['County'].drop_duplicates()
sorted(dummy.astype('str'))

['ADAIR',
 'ADAMS',
 'ALLAMAKEE',
 'APPANOOSE',
 'AUDUBON',
 'BENTON',
 'BLACK HAWK',
 'BOONE',
 'BREMER',
 'BUCHANAN',
 'BUENA VIST',
 'BUENA VISTA',
 'BUTLER',
 'CALHOUN',
 'CARROLL',
 'CASS',
 'CEDAR',
 'CERRO GORD',
 'CERRO GORDO',
 'CHEROKEE',
 'CHICKASAW',
 'CLARKE',
 'CLAY',
 'CLAYTON',
 'CLINTON',
 'CRAWFORD',
 'DALLAS',
 'DAVIS',
 'DECATUR',
 'DELAWARE',
 'DES MOINES',
 'DICKINSON',
 'DUBUQUE',
 'EMMET',
 'FAYETTE',
 'FLOYD',
 'FRANKLIN',
 'FREMONT',
 'GREENE',
 'GRUNDY',
 'GUTHRIE',
 'HAMILTON',
 'HANCOCK',
 'HARDIN',
 'HARRISON',
 'HENRY',
 'HOWARD',
 'HUMBOLDT',
 'IDA',
 'IOWA',
 'JACKSON',
 'JASPER',
 'JEFFERSON',
 'JOHNSON',
 'JONES',
 'KEOKUK',
 'KOSSUTH',
 'LEE',
 'LINN',
 'LOUISA',
 'LUCAS',
 'LYON',
 'MADISON',
 'MAHASKA',
 'MARION',
 'MARSHALL',
 'MILLS',
 'MITCHELL',
 'MONONA',
 'MONROE',
 'MONTGOMERY',
 'MUSCATINE',
 "O'BRIEN",
 'OBRIEN',
 'OSCEOLA',
 'PAGE',
 'PALO ALTO',
 'PLYMOUTH',
 'POCAHONTAS',
 'POLK',
 'POTTAWATTA',
 'POTTAWATTAMIE',
 'POWESHIEK',
 'RINGGOLD',
 'SAC',
 'SCOTT',
 'SHELBY',
 'SIOUX',
 'STORY',
 'TAMA',
 'TAYLOR',
 'UNION',
 'VAN BUREN',
 'WAPELLO',
 'WARREN',
 'WASHINGTON',
 'WAYNE',
 'WEBSTER',
 'WINNEBAGO',
 'WINNESHIEK',
 'WOODBURY',
 'WORTH',
 'WRIGHT']

In [49]:
# So we have 4 extra.

# only four so let's just manually fix them
iowa.loc[iowa['County'] == 'BUENA VIST', 'County'] = 'BUENA VISTA'
iowa.loc[iowa['County'] == 'CERRO GORD', 'County'] = 'CERRO GORDO'
iowa.loc[iowa['County'] == "OBRIEN", 'County'] = "O'BRIEN"
iowa.loc[iowa['County'] == 'POTTAWATTA', 'County'] = 'POTTAWATTAMIE'

In [50]:
# is it 99?
iowa['County'].nunique()

99

### [ ' Category ' ]  &  [ ' Category Name ' ]

In [51]:
# CATEGORY

# try standardizing letter case
iowa['Category Name'] = iowa['Category Name'].str.upper()
iowa['Category Name'].nunique()

112

In [52]:
iowa.groupby(['Category', 'Category Name'])['Category'].count()

Category   Category Name
1011000.0  AMERICAN WHISKIES                       1
1011100.0  BLENDED WHISKIES                   990691
1011200.0  STRAIGHT BOURBON WHISKIES         1391105
1011250.0  SINGLE BARREL BOURBON WHISKIES       9205
1011300.0  SINGLE BARREL BOURBON WHISKIES      18946
                                              ...
1701100.0  TEMPORARY & SPECIALTY PACKAGES     160266
1701200.0  HOLIDAY VAP                            48
1900000.0  DELISTED / SPECIAL ORDER ITEMS          1
1901100.0  DELISTED ITEMS                         63
1901200.0  SPECIAL ORDER ITEMS                 26815
Name: Category, Length: 129, dtype: int64

In [53]:
# AMERICAN WHISKIES has one entry? 
iowa[iowa['Category Name'] =='AMERICAN WHISKIES']

,Date,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Store Name,Store Number
19237037,2021-09-23,DES MOINES,50320,77,POLK,1011000.0,AMERICAN WHISKIES,566.0,"Foundry Distilling Company, LLC",926577,Glen Oaks Whiskey Buy the Barrel,750,19.0,28.5,66,1881.0,49.5,Hy-vee #3 / bdi / des moines,2633.0

They appear to have bought a barrel, so only one entry makes sense

In [54]:
# look for duplicates
dummy = iowa['Category'].drop_duplicates()
sorted(dummy.astype('str'))

['1011000.0',
 '1011100.0',
 '1011200.0',
 '1011250.0',
 '1011300.0',
 '1011400.0',
 '1011500.0',
 '1011600.0',
 '1011700.0',
 '1011800.0',
 '1012000.0',
 '1012100.0',
 '101220.0',
 '1012200.0',
 '1012210.0',
 '1012300.0',
 '1012400.0',
 '1022100.0',
 '1022200.0',
 '1022300.0',
 '1031000.0',
 '1031080.0',
 '1031090.0',
 '1031100.0',
 '1031110.0',
 '1031200.0',
 '1032000.0',
 '1032080.0',
 '1032100.0',
 '1032200.0',
 '1032230.0',
 '1041100.0',
 '1041150.0',
 '1041200.0',
 '1041300.0',
 '1042000.0',
 '1042100.0',
 '1051010.0',
 '1051100.0',
 '1051110.0',
 '1051120.0',
 '1051140.0',
 '1051150.0',
 '1052010.0',
 '1052100.0',
 '1062050.0',
 '1062100.0',
 '1062200.0',
 '1062250.0',
 '1062300.0',
 '1062310.0',
 '1062400.0',
 '1062500.0',
 '1070000.0',
 '1070100.0',
 '1071100.0',
 '1081000.0',
 '1081010.0',
 '1081015.0',
 '1081020.0',
 '1081030.0',
 '1081100.0',
 '1081200.0',
 '1081210.0',
 '1081220.0',
 '1081230.0',
 '1081240.0',
 '1081250.0',
 '1081300.0',
 '1081305.0',
 '1081312.0',
 '1081315.0',
 '1081317.0',
 '1081330.0',
 '1081335.0',
 '1081340.0',
 '1081350.0',
 '1081355.0',
 '1081365.0',
 '1081370.0',
 '1081380.0',
 '1081390.0',
 '1081400.0',
 '1081500.0',
 '1081600.0',
 '1081700.0',
 '1081900.0',
 '1082000.0',
 '1082010.0',
 '1082015.0',
 '1082100.0',
 '1082200.0',
 '1082300.0',
 '1082390.0',
 '1082900.0',
 '1089290.0',
 '1090000.0',
 '1091000.0',
 '1091100.0',
 '1091200.0',
 '1091300.0',
 '1091400.0',
 '1092000.0',
 '1092100.0',
 '1101100.0',
 '1501100.0',
 '1700000.0',
 '1701100.0',
 '1701200.0',
 '1900000.0',
 '1901100.0',
 '1901200.0',
 'nan']

In [55]:
# This category as one fewer character
iowa[iowa['Category'] == 101220.0]

,Date,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Store Name,Store Number
9127780,2013-12-12,DES MOINES,50312,77,POLK,101220.0,NaN,885.0,"Yahara Bay Distillers, Inc",901369,Craigellachie,750,51.52,77.29,6,463.74,4.50,Vom fass / des moines,4669.0
9303210,2013-10-24,DES MOINES,50312,77,POLK,101220.0,NaN,885.0,"Yahara Bay Distillers, Inc",901369,Craigellachie,750,51.52,77.29,3,231.87,2.25,Vom fass / des moines,4669.0
10650130,2013-09-04,DES MOINES,50312,77,POLK,101220.0,NaN,885.0,"Yahara Bay Distillers, Inc",901369,Craigellachie,750,51.52,77.29,3,231.87,2.25,Vom fass / des moines,4669.0
11699978,2013-05-20,DES MOINES,50312,77,POLK,101220.0,NaN,885.0,"Yahara Bay Distillers, Inc",901369,Craigellachie,750,51.52,77.29,3,231.87,2.25,Vom fass / des moines,4669.0
13445600,2014-04-17,DES MOINES,50312,77,POLK,101220.0,NaN,885.0,"Yahara Bay Distillers, Inc",901369,Craigellachie,750,52.37,78.56,3,235.68,2.25,Vom fass / des moines,4669.0
13489741,2014-08-20,DES MOINES,50312,77,POLK,101220.0,NaN,885.0,"Yahara Bay Distillers, Inc",901369,Craigellachie,750,52.37,78.56,3,235.68,2.25,Vom fass / des moines,4669.0

### Observations:
1. Category name is missing
2. The item description tells me it is a scotch

In [56]:
# 101220.0 is scotch so let's fix that
# find the category number for scotch
iowa.loc[iowa['Category Name'] == 'SCOTCH WHISKIES', 'Category']

5448209     1012200.0
6406623     1012200.0
9547126     1012200.0
16681128    1012200.0
19108560    1012200.0
              ...
18457438    1012200.0
19829904    1012200.0
18421548    1012200.0
19678746    1012200.0
20842553    1012200.0
Name: Category, Length: 405446, dtype: float64

In [57]:
# fix the incorrect scotch label
iowa.loc[iowa['Category'] == 101220.0, 'Category'] = 1012200.0

In [58]:
# clean up missing category name
iowa['Category Name'] = iowa['Category Name'].fillna(0)

In [59]:
# clean up missing category
iowa['Category'] = iowa['Category'].fillna(0)

In [60]:
# we filled nan values with 0 so we need to make those 0 --> '0'
iowa['Category Name'] = iowa['Category Name'].astype('str')

In [61]:
# let's clean up some Category names

# apply re to all column entries
def regularexpression(x):
    
    # apply the regular expression
    # removing all non alpha characters or spaces
    return re.sub(r'[^a-zA-Z ]', ' ', x)

In [62]:
# Let's apply the RE to the category name column
iowa['Category Name'] = iowa['Category Name'].apply(lambda x: regularexpression(x))

In [63]:
# condense some categories by removing extra information

words_to_remove = ['AMERICAN', 'IMPORTED', 'STRAIGHT', 'DRY', 'PROOF', 'GRAPE']

In [64]:
for word in words_to_remove: 
    iowa['Category Name'] = iowa['Category Name'].str.replace(word ,'')

In [65]:
## the nan column is now and empty string

### first look throughthere are a bunch of over laps
# create a map to swap-out / correct the spelling
CATE_MAP = {'' : 'EMPTY',
           'GINS' : 'GIN',
           'VODKAS' : 'VODKA',
           'LIQUEURS' : 'LIQUEUR',
           'SPIRITS' : 'SPIRIT',
           'WHISKIES' : 'WHISKY',
           'WHISKEY' : 'WHISKY',
           'VODKA  MISC' : 'VODKA FLAVORED',
           'TENNESSEE WHISKIES' : 'WHISKY',
           'AGAVE TEQUILA' : 'TEQUILA',
           'VODKA  CHERRY' : 'VODKA FLAVORED',
           'WHITE CREME DE CACAO' : 'LIQUEUR',
           'WHITE CREME DE MENTHE' : 'LIQUEUR'}

## there are some double spaces that will be taken care of last. Because we still might generate some more

In [66]:
#### map the correct spelllings onto their replacements
iowa['Category Name'] = iowa['Category Name'].replace(CATE_MAP.keys(), list(map(str, CATE_MAP.values())), regex=True)

In [67]:
# create a function to replace values

def type(x):
    #search through values to apply a new label
    if "IOWA" in x:
        return "IOWA LOCAL"
    elif "TEMPORARY" in x:
        return "SPECIAL PACKAGING"
    elif "HOLIDAY" in x:
        return "SPECIAL PACKAGING"
    elif 'SPECIALTY' in x:
        return "SPECIAL PACKAGING" 
    elif 'DISTILLED SPIRIT SPECIALTY' in x:
        return 'FLAVORED WHISKY'
    elif 'WHISKY LIQUEUR' in x:
        return 'FLAVORED WHISKY'
    elif "DELISTED" in x:
        return "DELISTED"
    elif "BRANDIES" in x:
        return "BRANDY"
    elif "SCHNAPPS" in x:
        return "SCHNAPPS"
    elif 'VODKA FLAVORED' in x:
        return 'FLAVORED VODKA'
    elif "FLAVORED" in x:
        return x
    elif 'ROCK  RYE' in x:
        return 'COCKTAILS RTD'
    elif "RYE" in x:
        return "RYE WHISKY"
    elif "CANADIAN WHISKY" in x:
        return x
    elif "CREME" in x:
        return "LIQUEUR"
    elif "SCOTCH" in x:
        return "SCOTCH"
    elif "BOURBON" in x:
        return "BOURBON WHISKY"
    elif "WHISK" in x:
        return "WHISKY"
    elif "LIQUEUR" in x:
        return "LIQUEUR"
    elif "AMARETTO" in x:
        return "LIQUEUR"
    elif 'TRIPLE SEC' in x:
        return "LIQUEUR"
    elif 'SLOE' in x:
        return "LIQUEUR"
    elif "RUM" in x:
        return "RUM"
    elif "MEZCAL" in x:
        return "MEZCAL" 
    elif "VODKA" in x:
        return "VODKA"
    elif "GIN" in x:
        return "GIN"
    elif 'NEUTRAL GRAIN SPIRIT FLAVORED' in x:
        return "FLAVORED WHISKY"
    elif "NEUTRAL" in x:
        return "NEUTRAL GRAIN"
    elif "ALCOHOL" in x:
        return "NEUTRAL GRAIN"
    elif "SPECIAL" in x:
        return "SPECIALTY"
    elif "COCKTAIL" in x:
        return 'COCKTAILS RTD'
    elif 'MIXTO TEQUILA' in x:
        return 'TEQUILA'
    elif 'ANISETTE' in x:
        return 'LIQUEUR'
    else:
        return x

In [68]:
# apply that function to create a new column
iowa['Category Name'] = iowa['Category Name'].apply(lambda x: type(x))

In [69]:
# remove the empty spaces
iowa['Category Name'] = iowa['Category Name'].str.strip()
iowa['Category Name'] = iowa['Category Name'].str.replace('  ',' ')

In [70]:
iowa = iowa[iowa['Category Name'] != 'EMPTY']
iowa = iowa[iowa['Category Name'] != 'HIGH BEER AMERICAN']
iowa = iowa[iowa['Category Name'] != 'DELISTED']

In [71]:
# look for easy over laps
dummy = iowa['Category Name'].drop_duplicates()
sorted(dummy.astype('str'))

['',
 'BOURBON WHISKY',
 'BRANDY',
 'CANADIAN WHISKY',
 'COCKTAILS RTD',
 'FLAVORED GIN',
 'FLAVORED RUM',
 'FLAVORED VODKA',
 'FLAVORED WHISKY',
 'GIN',
 'HIGH BEER',
 'IOWA LOCAL',
 'LIQUEUR',
 'MEZCAL',
 'NEUTRAL GRAIN',
 'NEUTRAL GRAIN SPIRIT FLAVORED',
 'RUM',
 'RYE WHISKY',
 'SCHNAPPS',
 'SCOTCH',
 'SPECIAL PACKAGING',
 'SPECIALTY',
 'TEQUILA',
 'VODKA',
 'WHISKY']

In [72]:
iowa = iowa[iowa['Category Name'] != 'nan']

In [73]:
# where are we at now
iowa[['Category', 'Category Name']].nunique()

Category         110
Category Name     25
dtype: int64

In [76]:
# duplicate cleaner function again
iowa = duplicate_cleaner(iowa, 'Category', 'Category Name')

Category Name    25
Category         25
dtype: int64

### [ ' Vendor Number ' ]  &  [ ' Vendor Name ' ]

In [77]:
# VENDOR NUMBER & NAME

# I am less interested in vendor name/number. 
iowa[['Vendor Number', 'Vendor Name']].nunique()

Vendor Number    395
Vendor Name      546
dtype: int64

In [78]:
#standardize 
iowa['Vendor Name'] = iowa['Vendor Name'].str.upper()

In [79]:
# use the duplicate pair finding function
iowa = duplicate_cleaner(iowa, 'Vendor Name', 'Vendor Number')

Vendor Number    395
Vendor Name      396
dtype: int64

### Obeservation:
One name was not corrected. Is it nan?

In [80]:
iowa['Vendor Name'].isna().sum()

7

In [81]:
# Remove the 7 nulls
iowa = iowa[iowa['Vendor Name'] != np.nan]

In [91]:
iowa.groupby('Vendor Name')['Vendor Number'].nunique().sort_values().reset_index()

                                           Vendor Name  Vendor Number
0                                 RESERVOIR DISTILLERY              0
1               10TH MOUNTAIN WHISKEY & SPIRIT COMPANY              1
2     PURPLE VALLEY IMPORTS / GLASS REVOLUTION IMPORTS              1
3                           PUENTE INTERNATIONAL, INC.              1
4                                              PROXIMO              1
..                                                 ...            ...
391                          GLOBAL BEVERAGE TEAM, LLC              1
392                           GLASS REVOLUTION IMPORTS              1
393  GEORGETOWN TRADING CO. LLC / JAMES PEPPER DIST...              1
394          GARGOYLE ENTERPRISES / LAWS WHISKEY HOUSE              1
395                         YAHARA BAY DISTILLERS, INC              1

[396 rows x 2 columns]

### That was not the result I was expecting.
What does Reservoir distillery sell?

In [92]:
iowa[iowa['Vendor Name'] == 'RESERVOIR DISTILLERY']

,Date,City,Zip Code,County Number,County,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Store Name,Store Number,Category Name,Category,Vendor Name
5127038,2016-10-17,DES MOINES,50314,77,POLK,NaN,916456,Reservoir Bourbon Whiskey,750,45.0,67.5,30,2025.0,22.5,"Central city liquor, inc.",2190.0,WHISKY,1012400.0,RESERVOIR DISTILLERY
5127213,2016-10-17,DES MOINES,50314,77,POLK,NaN,927565,Reservoir Wheat Whiskey,750,45.0,67.5,18,1215.0,13.5,"Central city liquor, inc.",2190.0,SPECIAL PACKAGING,1701200.0,RESERVOIR DISTILLERY

#### Let's get them a number

In [93]:
iowa['Vendor Number'].max()

987.0

In [94]:
# max number is 987 so 988 must be available
iowa.loc[iowa['Vendor Name'] == 'RESERVOIR DISTILLERY', 'Vendor Number'] = 988.0

### Bottle, sales, volume of sales are in part 2

In [97]:
# drop unneeded columns
iowa = iowa.drop(columns=['Vendor Number', 'County Number', 'Store Number'])

In [98]:
# save progress as csv
iowa.to_csv('iowa_clean.csv', index=False)

In [99]:
# create internet sized sample
iowa_sample = iowa.sample(1000)

In [100]:
# save the sample as a csv
iowa_sample.to_csv('iowa_sample.csv', index=False)