In [15]:
import pandas as pd
from datetime import datetime

In [16]:
### "https://data.iowa.gov/Community-Demographics/Total-City-Population-by-Year/acem-thbp"
# iowa city population by year

pop = pd.read_csv('City_Population_in_Iowa_by_County_and_Year.csv')

In [17]:
# take a peek
pop.head()

,FIPS,County,City,Year,Estimate,Primary Point
0,1999990,Audubon,Balance of Audubon County,July 01 2012,2517.0,NaN
1,1999990,Butler,Balance of Butler County,July 01 2017,5523.0,NaN
2,1999990,Chickasaw,Balance of Chickasaw County,July 01 2018,4896.0,NaN
3,1999990,Decatur,Balance of Decatur County,July 01 2011,2799.0,NaN
4,1999990,Des Moines,Balance of Des Moines County,April 01 2010,8882.0,NaN

In [18]:
# further look
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12264 entries, 0 to 12263
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   FIPS           12264 non-null  int64
 1   County         12264 non-null  object
 2   City           12264 non-null  object
 3   Year           12264 non-null  object
 4   Estimate       12259 non-null  float64
 5   Primary Point  11164 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 575.0+ KB

In [19]:
# unneeded column
pop = pop.drop(columns='FIPS')

In [20]:
# change county name to match county name in liquor sales dataframe
# capitalize entries
pop['County'] = pop['County'].str.upper()

In [21]:
# there are 99 counties in Iowa
pop['County'].nunique()

99

In [22]:
# year column has more information than just year
pop = pop.rename(columns=({'Year' : 'Date'}))

In [23]:
pop.head()

,County,City,Date,Estimate,Primary Point
0,AUDUBON,Balance of Audubon County,July 01 2012,2517.0,NaN
1,BUTLER,Balance of Butler County,July 01 2017,5523.0,NaN
2,CHICKASAW,Balance of Chickasaw County,July 01 2018,4896.0,NaN
3,DECATUR,Balance of Decatur County,July 01 2011,2799.0,NaN
4,DES MOINES,Balance of Des Moines County,April 01 2010,8882.0,NaN

In [24]:
# convert date to datetime object
pop['Date'] = pd.to_datetime(pop['Date'])

In [25]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12264 entries, 0 to 12263
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   County         12264 non-null  object
 1   City           12264 non-null  object
 2   Date           12264 non-null  datetime64[ns]
 3   Estimate       12259 non-null  float64
 4   Primary Point  11164 non-null  object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 479.2+ KB

In [26]:
# change county name to match county name in liquor sales dataframe
# capitalize entries
pop['City'] = pop['City'].str.upper()

In [27]:
pop.to_csv('iowa_population.csv', index=False)