# Pre Processing Iowa Liquor Database

1. Dealing with nan's
2. Expand the date column
3. Rank stores by rtd & mezcal
3. Create function for liquor searching
3. One Hot Encoding categorical data
4. Test Train Split
5. StandardScaler

In [20]:
# libraries
import pandas as pd
import numpy as np

from sklearn.preprocessing import OneHotEncoder, StandardScaler, OrdinalEncoder
from sklearn.model_selection import train_test_split

pd.set_option("display.max_rows", 999)

In [2]:
# load data
iowa = pd.read_csv('iowa_eda.csv')

In [3]:
iowa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4807658 entries, 0 to 4807657
Data columns (total 23 columns):
 #   Column                    Dtype
---  ------                    -----
 0   Date                      object
 1   Address                   object
 2   City                      object
 3   Zip Code                  int64
 4   County                    object
 5   Category Name             object
 6   Item Number               int64
 7   Item Description          object
 8   Bottle Volume (ml)        int64
 9   State Bottle Cost         float64
 10  State Bottle Retail       float64
 11  Bottles Sold              int64
 12  Sale (Dollars)            float64
 13  Volume Sold (Liters)      float64
 14  Store Name                object
 15  Category                  float64
 16  Vendor Name               object
 17  Profit / Item             float64
 18  Profit / Invoice          float64
 19  Profit / ml               float64
 20  Profit / Invoice / Liter  float64
 21  Retail Price / ml         float64
 22  Bottle Price Category     object
dtypes: float64(10), int64(4), object(9)
memory usage: 843.6+ MB

In [5]:
iowa.head()

,Date,Address,City,Zip Code,County,Category Name,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,...,Volume Sold (Liters),Store Name,Category,Vendor Name,Profit / Item,Profit / Invoice,Profit / ml,Profit / Invoice / Liter,Retail Price / ml,Bottle Price Category
0,2018-09-04,804 Nile Kinnick Dr,ADEL,50003,DALLAS,VODKA,34821,Svedka Vodka,1750,13.0,...,525.0,Fareway stores #124 / adel,1032230.0,"CONSTELLATION WINE COMPANY, INC.",6.50,1950.0,0.003714,3.714286,0.011143,Normal
1,2018-09-04,804 Nile Kinnick Dr,ADEL,50003,DALLAS,BOURBON WHISKY,27408,Jim Beam Honey Mini,500,5.4,...,6.0,Fareway stores #124 / adel,1011500.0,JIM BEAM BRANDS,2.70,32.4,0.005400,5.400000,0.016200,Inexpensive
2,2018-09-04,804 Nile Kinnick Dr,ADEL,50003,DALLAS,RYE WHISKY,27025,Bulleit 95 Rye,750,16.0,...,9.0,Fareway stores #124 / adel,1081500.0,DIAGEO AMERICAS,8.00,96.0,0.010667,10.666667,0.032000,Normal
3,2018-09-04,804 Nile Kinnick Dr,ADEL,50003,DALLAS,SCOTCH,10008,Scoresby Rare Scotch,1750,10.5,...,10.5,Fareway stores #124 / adel,1012300.0,DIAGEO AMERICAS,5.25,31.5,0.003000,3.000000,0.009000,Normal
4,2018-09-04,409 Nile Kinnick Dr,ADEL,50003,DALLAS,FLAVORED WHISKY,64858,Fireball Cinnamon Whiskey Mini Dispenser,3000,30.0,...,12.0,Kum & go #2093 / adel,1081600.0,SAZERAC COMPANY INC,15.00,60.0,0.005000,5.000000,0.015000,Normal

### Preprocessing 1: dealing with nan's

In [6]:
# dealing with nans
iowa.isna().sum()

Date                           0
Address                        0
City                           0
Zip Code                       0
County                         0
Category Name               5726
Item Number                    0
Item Description               0
Bottle Volume (ml)             0
State Bottle Cost              2
State Bottle Retail            2
Bottles Sold                   0
Sale (Dollars)                 2
Volume Sold (Liters)           0
Store Name                     0
Category                       0
Vendor Name                    1
Profit / Item                  2
Profit / Invoice               2
Profit / ml                    2
Profit / Invoice / Liter       2
Retail Price / ml              2
Bottle Price Category          0
dtype: int64

#### Category will need to be dealt with. The rest are so few they will be dropped.

In [7]:
# fill category name by grouping them by their category number
iowa['Category Name'] = iowa.groupby('Category')['Category Name'].ffill().bfill()

In [8]:
iowa.isna().sum()

Date                        0
Address                     0
City                        0
Zip Code                    0
County                      0
Category Name               0
Item Number                 0
Item Description            0
Bottle Volume (ml)          0
State Bottle Cost           2
State Bottle Retail         2
Bottles Sold                0
Sale (Dollars)              2
Volume Sold (Liters)        0
Store Name                  0
Category                    0
Vendor Name                 1
Profit / Item               2
Profit / Invoice            2
Profit / ml                 2
Profit / Invoice / Liter    2
Retail Price / ml           2
Bottle Price Category       0
dtype: int64

In [9]:
# remove the rest
iowa = iowa.dropna()

### Pre Processing 2: Expand the Date column

In [10]:
# create columns for date info
iowa[['Date_year', 'Date_month', 'Date_day']] = iowa['Date'].str.split("-", expand = True)

In [11]:
# fix the data type. for the new columns because they are strings of numbers
iowa[['Date_year', 'Date_month', 'Date_day']] = iowa[['Date_year', 'Date_month', 'Date_day']].apply(pd.to_numeric)

### Pre Processing 3: Rank entries

In [12]:
###
# find out which stores carry the most mezcal products
###

# create a df of only the mezcal entries
mezcal = iowa[iowa['Category Name'] == 'MEZCAL']

# take the mezcal entries, group them by store name and order them by highest variety of products
mezcal_bottles = pd.DataFrame(mezcal.groupby('Store Name')['Bottles Sold'].sum().sort_values(ascending=False))

# take the mezcal entries, group them by store name and order them by highest variety of products
mezcal_variety = pd.DataFrame(mezcal.groupby('Store Name')['Item Description'].nunique().sort_values(ascending=False))

# access the grouped columns
mezcal_bottles = mezcal_bottles.reset_index()
mezcal_variety = mezcal_variety.reset_index()

# join the individual tables
ranking = pd.merge(mezcal_bottles, mezcal_variety, on='Store Name')


####
# find out which stores dont carry the mezcal products
###


# create a df of no mezcal
no_mezcal = iowa[iowa['Category Name'] != 'MEZCAL']

# take the mezcal entries, get the store names
no_mezcal = pd.DataFrame(no_mezcal['Store Name'].unique())

#rename the store name column
no_mezcal = no_mezcal.rename(columns={0:'Store Name'})

# merge the two df's about mezcal
ranking = pd.concat([ranking, no_mezcal], ignore_index=True)

# fill nan's created in the join
ranking = ranking.fillna(0)

# rank them and store that in 
ranking['mezcal_sales_rank'] = ranking['Bottles Sold'].rank(ascending = 0)
ranking['mezcal_variety_rank'] = ranking['Item Description'].rank(ascending = 0)

# create a ranking average, add them together divide by 2
ranking['total_ranking'] = (ranking['mezcal_sales_rank'] * ranking['mezcal_variety_rank'])

In [14]:
# create a dictionary for mapping 
rank_map_dict = dict(zip(ranking['Store Name'], ranking['total_ranking']))

In [15]:
# map over the ranking value
iowa['total_ranking'] = iowa['Store Name'].replace(rank_map_dict.keys(), list(map(str, rank_map_dict.values())), regex=True)

In [16]:
iowa.shape

(4807655, 27)

In [17]:
iowa.head(50)

,Date,Address,City,Zip Code,County,Category Name,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,...,Profit / Item,Profit / Invoice,Profit / ml,Profit / Invoice / Liter,Retail Price / ml,Bottle Price Category,Date_year,Date_month,Date_day,total_ranking
0,2018-09-04,804 Nile Kinnick Dr,ADEL,50003,DALLAS,VODKA,34821,Svedka Vodka,1750,13.00,...,6.50,1950.00,0.003714,3.714286,0.011143,Normal,2018,9,4,90300.25
1,2018-09-04,804 Nile Kinnick Dr,ADEL,50003,DALLAS,BOURBON WHISKY,27408,Jim Beam Honey Mini,500,5.40,...,2.70,32.40,0.005400,5.400000,0.016200,Inexpensive,2018,9,4,90300.25
2,2018-09-04,804 Nile Kinnick Dr,ADEL,50003,DALLAS,RYE WHISKY,27025,Bulleit 95 Rye,750,16.00,...,8.00,96.00,0.010667,10.666667,0.032000,Normal,2018,9,4,90300.25
3,2018-09-04,804 Nile Kinnick Dr,ADEL,50003,DALLAS,SCOTCH,10008,Scoresby Rare Scotch,1750,10.50,...,5.25,31.50,0.003000,3.000000,0.009000,Normal,2018,9,4,90300.25
4,2018-09-04,409 Nile Kinnick Dr,ADEL,50003,DALLAS,FLAVORED WHISKY,64858,Fireball Cinnamon Whiskey Mini Dispenser,3000,30.00,...,15.00,60.00,0.005000,5.000000,0.015000,Normal,2018,9,4,90300.25
5,2018-09-04,804 Nile Kinnick Dr,ADEL,50003,DALLAS,VODKA,34008,Absolut Swedish Vodka 80 Prf,1750,19.99,...,10.00,60.00,0.005714,5.714286,0.017137,Normal,2018,9,4,90300.25
6,2018-09-04,804 Nile Kinnick Dr,ADEL,50003,DALLAS,VODKA,36306,Hawkeye Vodka,750,3.34,...,1.67,20.04,0.002227,2.226667,0.006680,Inexpensive,2018,9,4,90300.25
7,2018-09-04,409 Nile Kinnick Dr,ADEL,50003,DALLAS,FLAVORED WHISKY,64864,Fireball Cinnamon Whisky,375,5.33,...,2.67,32.04,0.007120,7.120000,0.021333,Inexpensive,2018,9,4,90300.25
8,2018-09-04,804 Nile Kinnick Dr,ADEL,50003,DALLAS,RUM,43336,Captain Morgan Original Spiced,750,9.06,...,4.53,217.44,0.006040,6.040000,0.018120,Inexpensive,2018,9,4,90300.25
9,2018-09-04,804 Nile Kinnick Dr,ADEL,50003,DALLAS,FLAVORED VODKA,41704,Uv Red (cherry) Vodka,750,6.50,...,3.25,39.00,0.004333,4.333333,0.013000,Inexpensive,2018,9,4,90300.25
10,2018-09-04,804 Nile Kinnick Dr,ADEL,50003,DALLAS,SCOTCH,5036,Glenlivet 12YR,750,23.98,...,11.99,143.88,0.015987,15.986667,0.047960,Normal,2018,9,4,90300.25
11,2018-09-04,409 Nile Kinnick Dr,ADEL,50003,DALLAS,RUM,43331,Captain Morgan Spiced Rum Mini,500,4.80,...,2.40,9.60,0.004800,4.800000,0.014400,Inexpensive,2018,9,4,90300.25
12,2018-09-04,409 Nile Kinnick Dr,ADEL,50003,DALLAS,VODKA,36304,Hawkeye Vodka,375,1.86,...,0.93,11.16,0.002480,2.480000,0.007440,Inexpensive,2018,9,4,90300.25
13,2018-09-04,804 Nile Kinnick Dr,ADEL,50003,DALLAS,NEUTRAL GRAIN,41846,Everclear Alcohol,750,9.00,...,4.50,54.00,0.006000,6.000000,0.018000,Inexpensive,2018,9,4,90300.25
14,2018-09-04,804 Nile Kinnick Dr,ADEL,50003,DALLAS,FLAVORED WHISKY,64868,Fireball Cinnamon Whiskey,1750,15.33,...,7.67,46.02,0.004383,4.382857,0.013143,Normal,2018,9,4,90300.25
15,2018-09-04,409 Nile Kinnick Dr,ADEL,50003,DALLAS,VODKA,34001,Absolut Swedish Vodka 80 Prf Mini,600,7.92,...,3.96,7.92,0.006600,6.600000,0.019800,Inexpensive,2018,9,4,90300.25
16,2018-09-04,409 Nile Kinnick Dr,ADEL,50003,DALLAS,FLAVORED VODKA,77740,Smirnoff Raspberry,750,8.25,...,4.13,24.78,0.005507,5.506667,0.016507,Inexpensive,2018,9,4,90300.25
17,2018-09-11,804 Nile Kinnick Dr,ADEL,50003,DALLAS,RUM,45248,Paramount Gold Rum,1750,7.84,...,3.92,23.52,0.002240,2.240000,0.006720,Inexpensive,2018,9,11,90300.25
18,2018-09-11,409 Nile Kinnick Dr,ADEL,50003,DALLAS,FLAVORED VODKA,40594,New Amsterdam Peach,750,7.50,...,3.75,45.00,0.005000,5.000000,0.015000,Inexpensive,2018,9,11,90300.25
19,2018-09-13,409 Nile Kinnick Dr,ADEL,50003,DALLAS,FLAVORED WHISKY,86884,Southern Comfort,375,4.78,...,2.39,4.78,0.006373,6.373333,0.019120,Inexpensive,2018,9,13,90300.25
20,2018-09-11,409 Nile Kinnick Dr,ADEL,50003,DALLAS,GIN,32234,Seagrams Extra Dry Gin,375,3.39,...,1.70,13.60,0.004533,4.533333,0.013573,Inexpensive,2018,9,11,90300.25
21,2018-09-11,804 Nile Kinnick Dr,ADEL,50003,DALLAS,VODKA,38176,Titos Handmade Vodka,750,9.64,...,4.82,1156.80,0.006427,6.426667,0.019280,Inexpensive,2018,9,11,90300.25
22,2018-09-11,409 Nile Kinnick Dr,ADEL,50003,DALLAS,VODKA,34001,Absolut Swedish Vodka 80 Prf Mini,600,7.92,...,3.96,7.92,0.006600,6.600000,0.019800,Inexpensive,2018,9,11,90300.25
23,2018-09-11,409 Nile Kinnick Dr,ADEL,50003,DALLAS,RUM,43334,Captain Morgan Spiced Rum,375,5.00,...,2.50,15.00,0.006667,6.666667,0.020000,Inexpensive,2018,9,11,90300.25
24,2018-09-11,409 Nile Kinnick Dr,ADEL,50003,DALLAS,VODKA,34423,Grey Goose Vodka,375,9.00,...,4.50,27.00,0.012000,12.000000,0.036000,Normal,2018,9,11,90300.25
25,2018-09-11,409 Nile Kinnick Dr,ADEL,50003,DALLAS,TEQUILA,89196,Jose Cuervo Especial Reposado Tequila,750,11.07,...,5.54,66.48,0.007387,7.386667,0.022147,Normal,2018,9,11,90300.25
26,2018-09-11,804 Nile Kinnick Dr,ADEL,50003,DALLAS,CANADIAN WHISKY,10548,Black Velvet Toasted Caramel,1750,12.99,...,6.50,78.00,0.003714,3.714286,0.011137,Normal,2018,9,11,90300.25
27,2018-09-11,804 Nile Kinnick Dr,ADEL,50003,DALLAS,LIQUEUR,68127,Carolan's Irish Cream Liqueur,1000,10.43,...,5.22,62.64,0.005220,5.220000,0.015650,Inexpensive,2018,9,11,90300.25
28,2018-09-11,804 Nile Kinnick Dr,ADEL,50003,DALLAS,FLAVORED WHISKY,64858,Fireball Cinnamon Whiskey Mini Dispenser,3000,30.00,...,15.00,30.00,0.005000,5.000000,0.015000,Normal,2018,9,11,90300.25
29,2018-09-11,409 Nile Kinnick Dr,ADEL,50003,DALLAS,FLAVORED WHISKY,64866,Fireball Cinnamon Whiskey,750,9.00,...,4.50,54.00,0.006000,6.000000,0.018000,Inexpensive,2018,9,11,90300.25
30,2018-09-11,409 Nile Kinnick Dr,ADEL,50003,DALLAS,VODKA,36308,Hawkeye Vodka,1750,7.17,...,3.59,21.54,0.002051,2.051429,0.006149,Inexpensive,2018,9,11,90300.25
31,2018-09-11,409 Nile Kinnick Dr,ADEL,50003,DALLAS,FLAVORED WHISKY,64864,Fireball Cinnamon Whisky,375,5.33,...,2.67,32.04,0.007120,7.120000,0.021333,Inexpensive,2018,9,11,90300.25
32,2018-09-11,409 Nile Kinnick Dr,ADEL,50003,DALLAS,WHISKY,25604,Seagrams 7 Crown Bl Whiskey,375,3.50,...,1.75,14.00,0.004667,4.666667,0.014000,Inexpensive,2018,9,11,90300.25
33,2018-09-11,409 Nile Kinnick Dr,ADEL,50003,DALLAS,WHISKY,26826,Jack Daniels Old #7 Black Lbl,750,15.57,...,7.79,93.48,0.010387,10.386667,0.031147,Normal,2018,9,11,90300.25
34,2018-09-11,804 Nile Kinnick Dr,ADEL,50003,DALLAS,RUM,72503,Blue Ox Silver Rum,750,3.00,...,1.50,18.00,0.002000,2.000000,0.006000,Inexpensive,2018,9,11,90300.25
35,2018-09-11,409 Nile Kinnick Dr,ADEL,50003,DALLAS,VODKA,38176,Titos Handmade Vodka,750,9.64,...,4.82,57.84,0.006427,6.426667,0.019280,Inexpensive,2018,9,11,90300.25
36,2018-09-11,409 Nile Kinnick Dr,ADEL,50003,DALLAS,BOURBON WHISKY,19061,Jim Beam Mini,500,5.40,...,2.70,5.40,0.005400,5.400000,0.016200,Inexpensive,2018,9,11,90300.25
37,2018-09-11,409 Nile Kinnick Dr,ADEL,50003,DALLAS,SCHNAPPS,81204,Paramount Peppermint Schnapps,375,2.28,...,1.14,13.68,0.003040,3.040000,0.009120,Inexpensive,2018,9,11,90300.25
38,2018-09-11,409 Nile Kinnick Dr,ADEL,50003,DALLAS,CANADIAN WHISKY,12404,Canadian Ltd Whisky,375,2.05,...,1.03,8.24,0.002747,2.746667,0.008213,Inexpensive,2018,9,11,90300.25
39,2018-09-11,804 Nile Kinnick Dr,ADEL,50003,DALLAS,VODKA,36306,Hawkeye Vodka,750,3.34,...,1.67,20.04,0.002227,2.226667,0.006680,Inexpensive,2018,9,11,90300.25
40,2018-09-11,409 Nile Kinnick Dr,ADEL,50003,DALLAS,VODKA,37991,Smirnoff 80prf Mini,500,7.47,...,3.74,7.48,0.007480,7.480000,0.022420,Inexpensive,2018,9,11,90300.25
41,2018-09-11,804 Nile Kinnick Dr,ADEL,50003,DALLAS,VODKA,36969,New Amsterdam Vodka,750,7.50,...,3.75,45.00,0.005000,5.000000,0.015000,Inexpensive,2018,9,11,90300.25
42,2018-09-11,409 Nile Kinnick Dr,ADEL,50003,DALLAS,VODKA,34006,Absolut Swedish Vodka 80 Prf,750,11.49,...,5.75,69.00,0.007667,7.666667,0.022987,Normal,2018,9,11,90300.25
43,2018-09-11,804 Nile Kinnick Dr,ADEL,50003,DALLAS,SCHNAPPS,82866,Dekuyper Watermelon Pucker,750,6.47,...,3.24,12.96,0.004320,4.320000,0.012947,Inexpensive,2018,9,11,90300.25
44,2018-09-11,804 Nile Kinnick Dr,ADEL,50003,DALLAS,WHISKY,26821,Jack Daniels Old #7 Black Lbl Mini,500,9.06,...,4.53,4.53,0.009060,9.060000,0.027180,Inexpensive,2018,9,11,90300.25
45,2018-09-11,804 Nile Kinnick Dr,ADEL,50003,DALLAS,NEUTRAL GRAIN,41846,Everclear Alcohol,750,9.00,...,4.50,162.00,0.006000,6.000000,0.018000,Inexpensive,2018,9,11,90300.25
46,2018-09-11,409 Nile Kinnick Dr,ADEL,50003,DALLAS,FLAVORED WHISKY,64858,Fireball Cinnamon Whiskey Mini Dispenser,3000,30.00,...,15.00,15.00,0.005000,5.000000,0.015000,Normal,2018,9,11,90300.25
47,2018-09-11,804 Nile Kinnick Dr,ADEL,50003,DALLAS,COCKTAILS RTD,59231,Ice Box Mudslide,1750,6.76,...,3.38,40.56,0.001931,1.931429,0.005794,Inexpensive,2018,9,11,90300.25
48,2018-09-11,804 Nile Kinnick Dr,ADEL,50003,DALLAS,SCHNAPPS,81206,Paramount Peppermint Schnapps,750,4.00,...,2.00,24.00,0.002667,2.666667,0.008000,Inexpensive,2018,9,11,90300.25
49,2018-09-11,804 Nile Kinnick Dr,ADEL,50003,DALLAS,FLAVORED RUM,43136,Bacardi Limon,750,8.26,...,4.13,49.56,0.005507,5.506667,0.016520,Inexpensive,2018,9,11,90300.25

### Pre Processing Part 4: Create a function to support liquor buying

the function 'des_moines_liquor_search()' takes a desired liquor type input and returns the top 10 ranked stores

In [18]:
## define a function to help liquor buyers find alcohol

def des_moines_liquor_search():
    
    # ascii art from 'https://patorjk.com/software/taag/#p=display&h=3&f=Cyberlarge&t=Liquor%20Finder'

    print("""
                                Welcome to the Des Moines Area liquor finder.
#############################################################################################################
            _____  _____  _     _  _____   ______      _______ _____ __   _ ______  _______  ______
     |        |   |   __| |     | |     | |_____/      |______   |   | \  | |     \ |______ |_____/
     |_____ __|__ |____\| |_____| |_____| |    \_      |       __|__ |  \_| |_____/ |______ |    \_

#############################################################################################################

            Please enter the style of alcohol you are looking for from this list.""",
          """
          
          """,
iowa['Category Name'].unique())
    
    # user input for desired liquor type
    gold = input('Liquor type: ').upper()

    # create a df of only the liquor entries
    liquor = iowa[iowa['Category Name'] == gold]

    # take the mezcal entries, group them by store name and order them by highest variety of products
    liquor_bottles = pd.DataFrame(liquor.groupby('Store Name')['Bottles Sold'].sum().sort_values(ascending=False))

    # take the mezcal entries, group them by store name and order them by highest variety of products
    liquor_variety = pd.DataFrame(liquor.groupby('Store Name')['Item Description'].nunique().sort_values(ascending=False))

    # access the grouped columns
    liquor_bottles = liquor_bottles.reset_index()
    liquor_variety = liquor_variety.reset_index()

    # join the individual tables
    ranking = pd.merge(liquor_bottles, liquor_variety, on='Store Name')

    # rank them and store that in 
    ranking[gold + '_sales_rank'] = ranking['Bottles Sold'].rank(ascending = 0)
    ranking[gold + '_variety_rank'] = ranking['Item Description'].rank(ascending = 0)

    # create a ranking average, add them together divide by 2
    ranking['total_ranking'] = (ranking[gold + '_sales_rank'] * ranking[gold + '_variety_rank'])
    
    # create top 10 results
    
    # sort by the new rankings and reset the index so best result is 0
    sample = ranking.sort_values(by=['total_ranking']).reset_index()
    
    # keep only top 10 results and the store name
    sample = sample.iloc[0:10,1]
    
    # ranking number won't be meaningful to citizens so we will use index as rank because they are sorted
    #sample.index = sample.index + 1
    
    # return best stores for that liquor type
    indy = 0
    
    print("""
    
    These are the best options for """+gold,"""
    
    """)
    for x in sample:    
        #### access the address
        indy += 1
        address_bool = (iowa['Store Name'] == x)

        address = iowa[address_bool].reset_index()

        address.index = address.index + indy

        print(address[['Store Name','Address','City']].head(1),"""
            """)

### Pre Processing 5: One Hot Encoding categorical data

In [23]:
# create numerical data for categorical data

one_hot = OneHotEncoder(sparse=False)

# create a df for the one hotted columns
iowa_one_hot = pd.DataFrame(one_hot.fit_transform(iowa[['Bottle Price Category', 'City', 'County', 'Zip Code', 'Category Name']]))

iowa_one_hot.columns = one_hot.get_feature_names_out(['Bottle Price Category', 'City', 'County', 'Zip Code', 'Category Name'])

# merge the one hot columns to the rest of the df
one_hot_iowa = iowa.join(iowa_one_hot)

In [25]:
one_hot_iowa.shape

(4807655, 156)

### Pre Processing 6: Remove the mezcal rows

In [36]:
# create a dataframe for test/train/split that doesnt carry the invoices with mezcal
iowa_mezcal_free = one_hot_iowa[one_hot_iowa['Category Name'] != 'MEZCAL']

### Pre Processing 7: Test Train Split

In [40]:
# what categories do I want in each split
print(list(iowa_mezcal_free.columns))

['Date', 'Address', 'City', 'Zip Code', 'County', 'Category Name', 'Item Number', 'Item Description', 'Bottle Volume (ml)', 'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold', 'Sale (Dollars)', 'Volume Sold (Liters)', 'Store Name', 'Category', 'Vendor Name', 'Profit / Item', 'Profit / Invoice', 'Profit / ml', 'Profit / Invoice / Liter', 'Retail Price / ml', 'Bottle Price Category', 'Date_year', 'Date_month', 'Date_day', 'total_ranking', 'Bottle Price Category_Expensive', 'Bottle Price Category_Inexpensive', 'Bottle Price Category_Normal', 'Bottle Price Category_Very expensive', 'City_ADEL', 'City_ALTOONA', 'City_ANKENY', 'City_BEVINGTON', 'City_BONDURANT', 'City_CARLISLE', 'City_CASEY', 'City_CLIVE', 'City_CUMMING', 'City_DALLAS CENTER', 'City_DE SOTO', 'City_DES MOINES', 'City_DEXTER', 'City_EARLHAM', 'City_GRANGER', 'City_GRIMES', 'City_GUTHRIE CENTER', 'City_INDIANOLA', 'City_JOHNSTON', 'City_MARTENSDALE', 'City_MILO', 'City_MITCHELLVILLE', 'City_NEW VIRGINIA', 'City_NORWALK', 'City_PANORA', 'City_PERRY', 'City_PLEASANT HILL', 'City_POLK CITY', 'City_REDFIELD', 'City_RUNNELLS', 'City_ST CHARLES', 'City_STUART', 'City_TRURO', 'City_URBANDALE', 'City_VAN METER', 'City_WAUKEE', 'City_WEST DES MOINES', 'City_WINDSOR HEIGHTS', 'City_WINTERSET', 'City_WOODWARD', 'County_ADAIR', 'County_BOONE', 'County_DALLAS', 'County_GUTHRIE', 'County_MADISON', 'County_MARSHALL', 'County_POLK', 'County_WARREN', 'Zip Code_50003', 'Zip Code_50009', 'Zip Code_50021', 'Zip Code_50023', 'Zip Code_50033', 'Zip Code_50035', 'Zip Code_50047', 'Zip Code_50048', 'Zip Code_50061', 'Zip Code_50063', 'Zip Code_50069', 'Zip Code_50070', 'Zip Code_50072', 'Zip Code_50109', 'Zip Code_50111', 'Zip Code_50115', 'Zip Code_50125', 'Zip Code_50131', 'Zip Code_50160', 'Zip Code_50166', 'Zip Code_50169', 'Zip Code_50210', 'Zip Code_50211', 'Zip Code_50216', 'Zip Code_50220', 'Zip Code_50226', 'Zip Code_50233', 'Zip Code_50237', 'Zip Code_50240', 'Zip Code_50250', 'Zip Code_50257', 'Zip Code_50261', 'Zip Code_50263', 'Zip Code_50265', 'Zip Code_50266', 'Zip Code_50273', 'Zip Code_50276', 'Zip Code_50309', 'Zip Code_50310', 'Zip Code_50311', 'Zip Code_50312', 'Zip Code_50313', 'Zip Code_50314', 'Zip Code_50315', 'Zip Code_50316', 'Zip Code_50317', 'Zip Code_50320', 'Zip Code_50321', 'Zip Code_50322', 'Zip Code_50323', 'Zip Code_50324', 'Zip Code_50325', 'Zip Code_50327', 'Category Name_BOURBON WHISKY', 'Category Name_BRANDY', 'Category Name_CANADIAN WHISKY', 'Category Name_COCKTAILS RTD', 'Category Name_FLAVORED GIN', 'Category Name_FLAVORED RUM', 'Category Name_FLAVORED VODKA', 'Category Name_FLAVORED WHISKY', 'Category Name_GIN', 'Category Name_HIGH BEER', 'Category Name_IOWA LOCAL', 'Category Name_LIQUEUR', 'Category Name_MEZCAL', 'Category Name_NEUTRAL GRAIN', 'Category Name_NEUTRAL GRAIN SPIRIT FLAVORED', 'Category Name_RUM', 'Category Name_RYE WHISKY', 'Category Name_SCHNAPPS', 'Category Name_SCOTCH', 'Category Name_SPECIAL PACKAGING', 'Category Name_SPECIALTY', 'Category Name_TEQUILA', 'Category Name_VODKA', 'Category Name_WHISKY']

In [48]:
# drop columns
iowa_mezcal_free = iowa_mezcal_free.drop(columns=['Address', 'City', 'Zip Code', 'County', 'Category Name',
                                                 'Item Description','Store Name','Category','Vendor Name',
                                                 'Bottle Price Category', 'Date'])

In [49]:
# create X and y

# dependent variable
iowa_y = iowa_mezcal_free['total_ranking']

# independent variable
iowa_X = iowa_mezcal_free.drop(columns=['total_ranking'])

In [50]:
# split into a training and testing data sets.

X_train, X_test, y_train, y_test = train_test_split(iowa_X, iowa_y, test_size=0.2, random_state=99)

### Pre Processing 8: Standard Scaler

In [51]:
# standardize the data so they are all in the same format

# assign the standard scaler to a variable
scaler = StandardScaler()

#fit the scaler ON ONLY THE TRAINING SET
scaler.fit(X_train[['Bottle Volume (ml)', 'State Bottle Cost', 'State Bottle Retail', 
                    'Bottles Sold', 'Sale (Dollars)', 'Volume Sold (Liters)', 'Profit / Item',
                    'Profit / Invoice', 'Profit / ml', 'Profit / Invoice / Liter', 'Retail Price / ml']])

# process both the independent and dependent data through the standard scaler
# assigning them to new variables

X_train[['Bottle Volume (ml)', 'State Bottle Cost', 'State Bottle Retail', 
                    'Bottles Sold', 'Sale (Dollars)', 'Volume Sold (Liters)', 'Profit / Item',
                    'Profit / Invoice', 'Profit / ml', 'Profit / Invoice / Liter', 'Retail Price / ml']] = scaler.transform(X_train[['Bottle Volume (ml)', 'State Bottle Cost', 'State Bottle Retail', 
                    'Bottles Sold', 'Sale (Dollars)', 'Volume Sold (Liters)', 'Profit / Item',
                    'Profit / Invoice', 'Profit / ml', 'Profit / Invoice / Liter', 'Retail Price / ml']])


X_test[['Bottle Volume (ml)', 'State Bottle Cost', 'State Bottle Retail', 
                    'Bottles Sold', 'Sale (Dollars)', 'Volume Sold (Liters)', 'Profit / Item',
                    'Profit / Invoice', 'Profit / ml', 'Profit / Invoice / Liter', 'Retail Price / ml']] = scaler.transform(X_test[['Bottle Volume (ml)', 'State Bottle Cost', 'State Bottle Retail', 
                    'Bottles Sold', 'Sale (Dollars)', 'Volume Sold (Liters)', 'Profit / Item',
                    'Profit / Invoice', 'Profit / ml', 'Profit / Invoice / Liter', 'Retail Price / ml']])

In [54]:
# save progress
iowa.to_csv('iowa_pre_pro.csv',index=False)

one_hot_iowa.to_csv('iowa_one_hotted.csv',index=False)

X_test.to_csv('X_test.csv',index=False)

X_train.to_csv('X_train.csv',index=False)

y_test.to_csv('y_test.csv',index=False)

y_train.to_csv('y_train.csv',index=False)